<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <section class="move-up-anim flex justify-center items-start h-[800px] w-full">
        <div class="h-full w-full">
            <div class="mt-6 p-5 xs:p-0 mx-auto w-full h-fit md:max-w-2xl">
                <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
                    <form method="post" th:action="@{/login}">
                        <div class="px-5 py-7">
                            <div th:if="${param.error != null}">
                                <div id="alert-error" class="alert-danger" role="alert">
                                    <div class="ml-3 text-sm font-medium">
                                      Đăng nhập thất bại
                                    </div>
                                  </div>
                            </div>
                            <div th:if="${registrySuccess}" role="alert">
                                <div class="ml-3 text-sm font-medium" th:text="${registrySuccess}"></div>
                            </div>
                            <label class="font-medium pb-1 block">Tên đăng nhập / Email</label>
                            <input name="username" type="text"
                                class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                            <label class="font-medium pb-1 block">Mật khẩu</label>
                            <input name="password" type="password"
                                class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                            <label class="font-medium pb-1 block">Vai trò</label>
                            <select name="role" id="countries_multiple"
                                class="bg-white border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md p-2.5 mt-1 mb-5 w-full">
                                <option value="ROLE_AUTHOR" selected>Tác giả</option>
                                <option value="ROLE_SECRETARY">Thư ký</option>
                                <option value="ROLE_REVIEWER">Reviewer</option>
                                <option value="ROLE_EDITOR">Biên tập</option>
                            </select>
                            <button type="submit"
                                class="p-2.5 mt-3 transition duration-500 bg-main hover:bg-main/75 focus:hover:bg-main focus:shadow-sm focus:ring-4 focus:ring-main/50 text-white w-full rounded-lg shadow-sm hover:shadow-md font-semibold text-center">
                                <span class="inline-block mr-2">Đăng nhập</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" class="w-4 h-4 inline-block">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                </svg>
                            </button>
                        </div>
                    </form>
                    <div class="py-5 px-5">
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <div class="col-span-1 text-center whitespace-nowrap mx-2">
                                <button
                                    class="flex w-full items-center justify-center transition duration-200 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200">
                                    <span class="material-symbols-rounded text-base">lock_open</span>
                                    <span class="inline-block ml-1">Quên mật khẩu</span>
                                </button>
                            </div>
                            <div class="col-span-1 text-center whitespace-nowrap mx-2">
                                <a href="/register"
                                    class="flex w-full items-center justify-center transition duration-200 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200">
                                    <span class="material-symbols-rounded text-base">edit</span>
                                    <span class="inline-block ml-1">Đăng ký</span>
                            </a>
                            </div>
                            <div class="col-span-1 text-center whitespace-nowrap mx-2">
                                <button
                                    class="flex w-full items-center justify-center transition duration-200 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200">
                                    <span class="material-symbols-rounded text-base">help</span>
                                    <span class="inline-block ml-1">Hỗ trợ</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>

</html>