<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">


<section layout:fragment="content">

    <div class="flex flex-col justify-center">
        <div class="p-10 xs:p-0 mx-auto w-full container">
            <div class="relative pt-3 mb-12 bg-white shadow border w-full rounded-lg">
                <h1
                    class="absolute rounded ml-5 shadow bg-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-3">
                    Thông tin đăng nhập</h1>
                <div class="px-5 py-7">
                    <label for="username" class="font-medium pb-1 block">Tên đăng nhập</label>
                    <input id="username" required name="username" type="text"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label for="password" class="font-medium pb-1 block">Mật khẩu</label>
                    <input id="password" required name="password" type="password"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label for="confirmPassword" class="font-medium pb-1 block">Xác nhận mật khẩu</label>
                    <input id="confirmPassword" required name="confirmPassword" type="password"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                </div>
            </div>

            <div class="relative pt-3 mb-12 bg-white shadow border w-full rounded-lg">
                <h1
                    class="absolute rounded ml-5 shadow bg-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-3">
                    Thông tin cá nhân</h1>
                <div class="px-5 py-7">
                    <label for="lastName" class="font-medium pb-1 block">Họ và tên đệm</label>
                    <input id="lastName" required name="lastName" type="text"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label for="firstName" class="font-medium pb-1 block">Tên</label>
                    <input id="firstName" required name="firstName" type="text"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label for="dob" class="font-medium pb-1 block">Ngày sinh</label>
                    <input id="dob" required name="dob" type="date"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label for="email" class="font-medium pb-1 block">Email</label>
                    <input id="email" required name="email" type="text"
                        class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                        <label for="confirmEmail" class="font-medium pb-1 block">Xác nhận email</label>
                        <input id="confirmEmail" required name="confirmEmail" type="text"
                            class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                </div>
            </div>
        </div>
    </div>

</section>

</html>