<header class="w-full bg-main text-white shadow-sm body-font mb-5">
   <div class="flex h-fit flex-col items-center py-3 px-6 justify-between mx-auto md:flex-row">
      <a class="h-16 w-16 flex items-center font-medium text-gray-900 title-font md:mb-0 mr-4">
         <img class="w-100" th:src="@{/images/logoSimple.png}" />
      </a>
      <div
         class="w-fit text-lg min-h-11 text-center md:text-start flex-wrap items-center justify-center border-0 border-white md:mr-auto md:pl-4 md:border-l">
         <h1 class="font-bold uppercase" th:text="${webName}"></h1>
         <h1 class="uppercase" th:text="${schoolName}"></h1>
      </div>
      <div sec:authorize="!isAuthenticated()" class="items-center h-full mt-5 md:mt-0">
         <a th:href="@{/login}" class="mr-5 font-medium hover:border-b">Đăng nhập</a>
         <a th:href="@{/register}"
            class="px-4 py-2 text-xs font-bold text-black uppercase transition-all duration-150 bg-white rounded shadow outline-none hover:bg-white/50 hover:shadow-lg focus:outline-none ease">
            Đăng ký
         </a>
      </div>
      <div sec:authorize="isAuthenticated()" class="items-center h-full mt-5 md:mt-0">
         <div class="flex items-center ml-3">
            
            <div>
               <button type="button" class="flex gap-2 text-sm items-center" aria-expanded="false"
                  data-dropdown-toggle="dropdown-user">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-10 h-10 mr-2" th:src="@{/images/avatar.png}" />
                  <h3 class="font-medium" th:text="${#authentication.name}"></h3>
                  <i class="bi bi-chevron-down"></i>
               </button>
            </div>

            <div
               class="z-50 hidden my-4 text-base list-none border border-gray-200 bg-white divide-y divide-gray-100 rounded shadow-2xl"
               id="dropdown-user">
               <ul class="py-1" role="none">
                  <div class="px-6 py-3 text-gray-700 font-medium text-sm">
                     <div th:if="${#authorization.expression('hasRole(''ROLE_AUTHOR'')')}">
                        Chào mừng tác giả
                     </div>
                     <div th:if="${#authorization.expression('hasRole(''ROLE_EDITOR'')')}">
                        Chào mừng biên tập viên
                     </div>
                     <div th:if="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}">
                        Chào mừng người đánh giá
                     </div>
                     <div th:if="${#authorization.expression('hasRole(''ROLE_SECRETARY'')')}">
                        Chào mừng thư ký
                     </div>
                     <p class="text-base text-main" 
                        th:text="${#authentication.principal.lastName + ' ' + #authentication.principal.firstName}"></p>
                  </div>
                  <hr/>
                  <li>
                     <div data-accordion="collapse" class="text-gray-700 my-1 py-1" data-active-classes="bg-white text-main font-medium">
                        <!-- <select style="padding-right: 2rem" id="roleName"
                           class="text-sm pl-2 bg-white border-none focus:ring-0 text-gray-600 focus:outline-none rounded-md">
                           <option value="ROLE_AUTHOR">Tác giả</option>
                           <option value="ROLE_REVIEWER">Reviewer</option>
                           <option value="ROLE_EDITOR">Biên tập</option>
                        </select> -->
                        <h2  data-accordion-target="#temp" aria-expanded="true" aria-controls="temp">

                        </h2>
                        <h2 id="dropdown-heading" class="px-3">
                           <button data-accordion-target="#roles" aria-expanded="true" aria-controls="roles" class="transition-all w-full rounded-t-lg flex gap-x-2 items-center px-3 py-1 text-sm text-gray-700 hover:text-main hover:font-medium" type="button">Đổi vai trò <i data-accordion-icon class="bi bi-chevron-down rolate-180 transition-all flex justify-center text-2xs shrink-0"></i>
                          </button>
                        </h2>
                        
                       <div id="temp"></div>
                       <!-- Dropdown menu -->
                       <div id="roles" class="transition-all hidden px-3">
                           <ul class="mb-3 text-sm text-gray-700 border-x border-b border-gray-200 rounded-b-lg shadow-md" aria-labelledby="dropdown-heading">
                             <li>
                               <a data-role="ROLE_AUTHOR"  onclick="callChangeRoleApi(this)" class="block px-3 py-2 hover:bg-gray-100 cursor-pointer ">Tác giả</a>
                             </li>
                             <hr/>
                             <li>
                               <a data-role="ROLE_REVIEWER"  onclick="callChangeRoleApi(this)" class="block px-3 py-2 hover:bg-gray-100 cursor-pointer">Reviewer</a>
                             </li>
                             <hr/>
                             <li>
                               <a data-role="ROLE_EDITOR"  onclick="callChangeRoleApi(this)" class="block px-3 py-2 rounded-b-lg hover:bg-gray-100 cursor-pointer">Biên tập</a>
                             </li>
                           </ul>
                       </div>
                        <!-- <button id="btnChangeRole" type="click" onclick="callChangeRoleApi()"
                           class="mt-3 transition duration-500 bg-main hover:bg-main/75 focus:hover:bg-main focus:shadow-sm focus:ring-4 focus:ring-main/50 text-white rounded-lg shadow-sm hover:shadow-md text-sm font-semibold text-center">
                           <span class="inline-block mr-2">Xác nhận đổi</span>
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                              class="w-4 h-4 inline-block">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M17 8l4 4m0 0l-4 4m4-4H3" />
                           </svg>
                        </button> -->
                     </div>
                  </li>
                  <li>
                     <a th:href="@{/profile}" class="transition-all block mx-3 my-1 rounded-lg px-3 py-2 text-sm text-gray-700 hover:text-main hover:font-medium"
                        role="menuitem">Thông tin cá nhân</a>
                  </li>
                  <hr/>
                  <li>
                     <a th:href="@{/logout}" class="transition-all block mx-3 mt-1 rounded-lg px-3 py-2 text-sm text-gray-700 hover:text-main hover:font-medium"
                        role="menuitem">Đăng xuất</a>
                  </li>
                 
               </ul>
            </div>
         </div>
      </div>
   </div>
   <nav id="header" class="w-full bg-white shadow-sm">
      <div class="w-full flex flex-col md:flex-row items-start md:items-center justify-between px-6">
         <label for="menu-toggle" class="cursor-pointer text-main md:hidden block m-0 py-2 px-4">
            <i id="menu-icon" class="bi bi-list text-2xl transition-transform"></i>
         </label>
         <input class="hidden" type="checkbox" id="menu-toggle">

         <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
            <nav>
               <ul class="md:flex gap-x-5 items-center justify-between text-base lg:pt-0 group">
                  <li><a class="nav-item" id="nav-item-homepage"
                        th:href="@{/homepage}">Trang chủ</a></li>
                  <li><a class="nav-item" id="nav-item-main-menu"
                        th:href="@{/main-menu}">Main Menu</a></li>
                  <li><a class="nav-item" id="nav-item-submit"
                        th:href="@{/submit}">Gửi bài</a></li>
                  <li><a class="nav-item" 
                        href="#">Giới thiệu</a></li>
                  <li><a class="nav-item"
                        href="#">Hỗ trợ</a></li>
               </ul>
            </nav>
         </div>
      </div>
   </nav>
</header>