<header class="w-full bg-main text-white shadow-sm body-font mb-5">
   <div class="flex h-fit flex-col items-center py-3 px-6 justify-between mx-auto md:flex-row">
      <a class="h-16 w-16 flex items-center font-medium text-gray-900 title-font md:mb-0 mr-4">
         <img class="w-100" th:src="@{/images/logoSimple.png}" />
      </a>
      <div
         class="w-fit text-lg min-h-11 text-center md:text-start flex-wrap items-center justify-center border-0 border-white md:mr-auto md:pl-4 md:border-l">
         <h1 class="font-bold uppercase" th:text="${webName}"></h1>
         <h1 class="uppercase" th:text="${schoolName}"></h1>
      </div>
      <div sec:authorize="!isAuthenticated()" class="items-center h-full mt-5 md:mt-0">
         <a href="#" class="mr-5 font-medium hover:border-b">Đăng nhập</a>
         <a href="#"
            class="px-4 py-2 text-xs font-bold text-black uppercase transition-all duration-150 bg-white rounded shadow outline-none hover:bg-white/50 hover:shadow-lg focus:outline-none ease">
            Đăng ký
         </a>
      </div>
      <div sec:authorize="isAuthenticated()" class="items-center h-full mt-5 md:mt-0">
         <div class="flex items-center ml-3">
            <div th:if="${#authorization.expression('hasRole(''ROLE_AUTHOR'')')}">
               Chào mừng, Tác Giả
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_EDITOR'')')}">
               Chào mừng, Biên tập viên
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}">
               Chào mừng, Người Phán Xét
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_SECRETARY'')')}">
               Chào mừng, Thư Ký
            </div>
            <div>
               <button type="button" class="flex gap-2 text-sm items-center" aria-expanded="false"
                  data-dropdown-toggle="dropdown-user">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-10 h-10" th:src="@{/images/avatar.png}" />
                  <h3 class="font-medium" th:text="${#authentication.name}"></h3>
                  <span class="material-symbols-rounded">
                     keyboard_arrow_down
                  </span>
               </button>
            </div>

            <div
               class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
               id="dropdown-user">
               <ul class="py-1" role="none">
                  <li>
                     <a th:href="@{/logout}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Đăng xuất</a>
                  </li>
                  <hr>
                  <li>
                     <div>
                        <label class="block px-4 py-2 text-sm text-gray-700">Đổi vai trò:</label>
                        <select style="color: black" id="roleName"
                           class="text-sm bg-white border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/25 focus:outline-none rounded-md p-2.5 mt-1 mb-5">
                           <option value="ROLE_AUTHOR">Tác giả</option>
                           <option value="ROLE_REVIEWER">Reviewer</option>
                           <option value="ROLE_EDITOR">Biên tập</option>
                        </select>
                        <button id="btnChangeRole" type="click" onclick="callChangeRoleApi()"
                           class="p-2.5 mt-3 transition duration-500 bg-main hover:bg-main/75 focus:hover:bg-main focus:shadow-sm focus:ring-4 focus:ring-main/50 text-white rounded-lg shadow-sm hover:shadow-md text-sm font-semibold text-center">
                           <span class="inline-block mr-2">Xác nhận đổi</span>
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                              class="w-4 h-4 inline-block">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M17 8l4 4m0 0l-4 4m4-4H3" />
                           </svg>
                        </button>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <nav id="header" class="w-full bg-white shadow-sm">
      <div class="w-full flex flex-col md:flex-row items-start md:items-center justify-between px-6">
         <label for="menu-toggle" class="cursor-pointer text-main md:hidden block m-0 py-2 px-4">
            <span id="menu-icon" class="material-symbols-rounded flex justify-center">
               menu
            </span>
         </label>
         <input class="hidden" type="checkbox" id="menu-toggle">

         <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
            <nav>
               <ul class="md:flex items-center justify-between text-base text-main lg:pt-0">
                  <li><a class="inline-block no-underline hover:text-black hover:no-underline hover:bg-main hover:text-white font-medium py-2 w-full md:w-fit px-4 lg:-ml-2"
                        th:href="@{/homepage}">Trang chủ</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:no-underline hover:bg-main hover:text-white font-medium py-2 w-full md:w-fit px-4 lg:-ml-2"
                        th:href="@{/main-menu}">Main Menu</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:no-underline hover:bg-main hover:text-white font-medium py-2 w-full md:w-fit px-4 lg:-ml-2"
                        th:href="@{/submit}">Gửi bài</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:no-underline hover:bg-main hover:text-white font-medium py-2 w-full md:w-fit px-4 lg:-ml-2"
                        href="#">Giới thiệu</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:no-underline hover:bg-main hover:text-white font-medium py-2 w-full md:w-fit px-4 lg:-ml-2"
                        href="#">Hỗ trợ</a></li>
               </ul>
            </nav>
         </div>
      </div>
   </nav>
</header>