<div th:fragment="statusStage (status)" class="md:mb-20">
    <button data-drawer-target="statusStage" data-drawer-toggle="statusStage" aria-controls="statusStage" class="btn-secondary w-fit md:hidden">Xem trạng thái</button>
    <ol id="statusStage" class="z-40 fixed top-0 left-0 bg-white md:bg-transparent px-5 py-3 md:px-0 md:py-0 md:relative flex flex-col md:flex-row item-start md:items-center w-80 md:w-full h-screen md:h-fit transition-transform -translate-x-full md:translate-x-0">
        <li class="step step-complete">
            <span class="step-child">
                <i class="bi bi-check-lg">
                </i>
            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 1:</p>
                <p class="stage-title text-sm font-bold text-black-900">Gửi bài</p>
            </div>
        </li>
        <li data-stage-index="1" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 2:</p>
                <p class="stage-title text-sm font-bold text-black-900">Thư ký duyệt</p>
            </div>
        </li>
        <li data-stage-index="2" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 3:</p>
                <p class="stage-title text-sm font-bold text-black-900">Gán biên tập viên</p>
            </div>
        </li>
        <li data-stage-index="3" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 4:</p>
                <p class="stage-title text-sm font-bold text-black-900">Phản biện</p>
            </div>
        </li>
        <li data-stage-index="4" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 5:</p>
                <p class="stage-title text-sm font-bold text-black-900">Quyết định</p>
            </div>
        </li>
        <li data-stage-index="5" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute left-full ml-3 md:left-0 md:ml-0 md:top-full md:mt-3 w-fit whitespace-nowrap">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 6:</p>
                <p class="stage-title text-sm font-bold text-black-900">Xuất bản</p>
            </div>
        </li>


        <li class="step-end">
            <span class="step-child relative">
                <div class="absolute w-1 h-full bg-main-light rounded-full rotate-45">

                </div>
                <div class="absolute w-1 h-full bg-main-light rounded-full -rotate-45">

                </div>
            </span>
        </li>
    </ol>
    <script th:inline="javascript">
        const currentStatus = /*[[${article.status}]]*/"";

        const articleStatusEnum = /*[[${articleStatusEnum}]]*/[];
        var displayNames = [];

        /*[# th:each="n : ${articleStatusEnum}"]*/
        displayNames.push("[(${n.displayName})]");
        /*[/]*/

        var stages = []
        /*[# th:each="n : ${articleStatusEnum}"]*/
        stages.push("[(${n.stage})]");
        /*[/]*/


        if (currentStatus == "WITHDRAW") {
            document.querySelector("#statusStage").classList.add("hidden");
            //Cần fetch api để biết tình trạng trước khi withdraw ne
            
        } else {
            const index = articleStatusEnum.indexOf(currentStatus);
            const currentStage = parseInt(stages[index]);
            let stagesEl = document.querySelectorAll('li[data-stage-index]');
            stagesEl.forEach(el => {
                const stageIndex = parseInt(el.getAttribute("data-stage-index"));
                if (stageIndex < currentStage) {
                    el.classList.remove("step-pending")
                    el.classList.add("step-complete")
                    el.querySelector(".step-child").innerHTML = `
                        <i class="bi bi-check-lg">
                        </i>
                        `
                } else if (stageIndex === currentStage) {
                    el.classList.remove("step-pending")
                    if (currentStatus.indexOf("REJECT") > -1) {
                        el.classList.add("step-failure")
                        el.querySelector(".step-child").innerHTML = `
                            <i class="bi bi-x-lg">
                            </i>
                            `

                    } else if (currentStatus == "WITHDRAW") {
                        el.classList.add("step-withdraw");
                        el.querySelector(".step-child").innerHTML = `
                            <i class="bi bi-x-lg">
                            </i>
                            `;
                    }
                    else {
                        el.classList.add("step-in-progress")
                    }
                    el.querySelector(".stage-title").innerText = displayNames[index];
                }
            });
        }



    </script>

</div>