<div th:fragment="statusStage (status)" class="flex justify-center mb-20">
    <ol class="flex items-center w-full h-full">
        <li class="step step-complete">
            <span class="step-child">
                <i class="bi bi-check-lg">
                </i>
            </span>
            <div class="absolute top-full mt-3 w-fit">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 1:</p>
                <p class="stage-title text-sm font-bold text-black-900">Gửi bài</p>
            </div>
        </li>
        <li data-stage-index="1" class="step step-pending">
            <span class="step-child">

            </span>
            <div class="absolute top-full mt-3 w-fit">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 2:</p>
                <p class="stage-title text-sm font-bold text-black-900">Thư ký duyệt</p>
            </div>
        </li>
        <li data-stage-index="2" class="step step-pending">
            <span class="step-child">
    
            </span>
            <div class="absolute top-full mt-3 w-fit">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 3:</p>
                <p class="stage-title text-sm font-bold text-black-900">Review</p>
            </div>
        </li>
        <li data-stage-index="3" class="step step-pending">
            <span class="step-child">
            
            </span>
            <div class="absolute top-full mt-3 w-fit">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 4:</p>
                <p class="stage-title text-sm font-bold text-black-900">Quyết định</p>
            </div>
        </li>
        <li data-stage-index="4" class="step step-pending">
            <span class="step-child">
       
            </span>
            <div class="absolute top-full mt-3 w-fit">
                <p class="stage-index text-xs uppercase font-medium text-gray-500">Giai đoạn 5:</p>
                <p class="stage-title text-sm font-bold text-black-900">Xuất bản</p>
            </div>
        </li>


        <li class="step-end step-pending">
            <span class="step-child">
            </span>
        </li>
    </ol>
    <script th:inline="javascript">
        const currentStatus = /*[[${article.status}]]*/"";

        const articleStatusEnum = /*[[${articleStatusEnum}]]*/[];
        var displayNames = [];

            /*[# th:each="n : ${articleStatusEnum}"]*/
            displayNames.push("[(${n.displayName})]");
            /*[/]*/

        var stages = []
            /*[# th:each="n : ${articleStatusEnum}"]*/
            stages.push("[(${n.stage})]");
            /*[/]*/

            //<i th:if="${1 < stage}" class="bi bi-check-lg">
                    
            //</i>
        
        const index = articleStatusEnum.indexOf(currentStatus);
        const currentStage = parseInt(stages[index]);
        let stagesEl = document.querySelectorAll('li[data-stage-index]');
        stagesEl.forEach(el => {
            const stageIndex = parseInt(el.getAttribute("data-stage-index"));
            if (stageIndex < currentStage) {
                el.classList.remove("step-pending")
                el.classList.add("step-complete")
                el.querySelector(".step-child").innerHTML = `
                <i class="bi bi-check-lg">
                </i>
                `
            } else if (stageIndex === currentStage) {
                el.classList.remove("step-pending")
                if (currentStatus.indexOf("REJECT") > -1) {
                    el.classList.add("step-failure")
                    el.querySelector(".step-child").innerHTML = `
                    <i class="bi bi-x-lg">
                    </i>
                    `

                } else {
                    el.classList.add("step-in-progress")
                }
                el.querySelector(".stage-title").innerText = displayNames[index];
            }
        });

    </script>

</div>