<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="flex justify-center" layout:fragment="content">
    <div class="container min-h-[800px]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="breadcum">
                <li class="breadcum-item">
                    <a th:href="@{/main-menu}" class="breadcum-item-link">
                        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        <span class="breadcum-item-text ml-0">Main menu</span>
                    </a>
                </li>
                <li class="breadcum-item" aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="breadcum-item-text current">Danh sách bài báo chờ gán biên tập viên</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="bg-white rounded-lg px-12 py-6 my-6 ">
            <h1 class="mb-5 font-semibold text-lg text-main">Chọn biên tập viên cho bài viết</h1>
            <div class="mt-5 flex flex-col gap-5">
                <div class="w-full" th:each="editor : ${editors}">
                    <input class="hidden peer" th:id="'editor-' + ${editor.id}" type="radio" name="editorEmail"
                        th:value="${editor.email}" />
                    <label th:for="'editor-' + ${editor.id}"
                        class="transition-all w-full p-3 rounded-lg flex items-center gap-x-3 bg-white cursor-pointer border border-gray-200 peer-checked:bg-main/10 peer-checked:border-main/50 peer-checked:ring peer-checked:ring-main/20">
                        <img class="w-10 h-10 mr-2" th:src="@{/images/avatar.png}" />
                        <div class="grow">
                            <p class="font-semibold text-gray-700"
                                th:text="${editor.lastName + ' ' + editor.firstName}"></p>
                            <p class="text-gray-700" th:text="${editor.email}"></p>
                        </div>

                    </label>
                </div>
            </div>
            <div class="flex justify-end mt-5">
                <button id="btn-confirm" class="btn-gradient-main w-fit" onclick="assignEditor()">Xác nhận gán biên tập
                    viên</button>

            </div>

        </div>

        <!-- 

        <div class="move-up-anim table-container my-6">
            <table class="table">
                <h3 class="table-header text-lg text-main font-semibold py-5 px-6">
                    Danh sách biên tập viên
                </h3>
                <thead class="table-header">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Họ Tên
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="editor : ${editors}">
                        <tr class="table-row">
                            <td class="px-6 py-4" th:text="${editor.lastName + ' ' + editor.firstName}"></td>
                            <td class="px-6 py-4" th:text="${editor.email}"></td>
                            <td class="px-6 py-4">
                                <input type="radio" name="editorEmail" th:value="${editor.email}">
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div> -->
    </div>


    <script th:inline="javascript">
        var urlParams = new URLSearchParams(window.location.search);
        var status = urlParams.get('status');
        var radioButtons = document.getElementsByName("status");

        const btn = document.querySelector("#btn-confirm");
        // var btn = document.getElementById("btn-confirm")

        if (status) {
            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].value === status) {
                    radioButtons[i].checked = true;
                    break;
                }
            }
        }

        function handleChange(src) {
            window.location.replace(`/admin/articles?status=${src.value}`);
        }

        function assignEditor() {
            btn.disabled = true;
            var email = document.querySelector('input[name="editorEmail"]:checked').value;
            fetch(`/api/articles/chief-editor/assign`, {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'id': "[[${articleId}]]",
                    "editorUser": {
                        "email": email
                    }
                })
            })
                .then(result => {
                    if (result.ok) {
                        alert("Gán biên tập viên thành công")
                        window.location.href = "/editor/assign-list"
                    }
                    else {
                        btn.disabled = false;
                    }
                })
        }

    </script>

</section>

</html>