<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="flex justify-center" layout:fragment="content">
    <div class="container min-h-[800px]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="breadcum">
                <li class="breadcum-item">
                    <a th:href="@{/main-menu}" class="breadcum-item-link">
                        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        <span class="breadcum-item-text ml-0">Main menu</span>
                    </a>
                </li>
                <li class="breadcum-item" aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="breadcum-item-text current" th:text="${breadcumTitle}"></span>
                    </div>
                </li>
            </ol>
        </nav>
    
        <!-- FILTER -->
        <form class="relative left-0 my-6 flex flex-col-reverse md:flex-row gap-2">
            <div class="grow relative flex items-center md:mt-0">
                <span class="absolute pl-3 py-2">
                    <i class="bi bi-search text-gray-400"></i>
                </span>
                <input name="kw" th:value="${param.kw}" type="text" placeholder="Tìm kiếm" class="input-icon-left">
            </div>
        </form>
        <div th:if="${#lists.isEmpty(articles)}" class="fade-anim flex justify-center">
            <div class="w-fit my-6 bg-white rounded-lg p-10 flex flex-col items-center gap-4">
                <div class="ml-3 font-medium">
                    Hiện không có bài báo nào.
                </div>
                <a th:href="@{/main-menu}" class="w-fit px-10 btn-main text-sm">
                    Quay lại
                </a>
            </div>
          
        </div>
    
        <div th:unless="${#lists.isEmpty(articles)}" class="move-up-anim table-container my-6">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Tiêu đề bài báo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email tác giả chính
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email tác giả liên hệ
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Trạng thái
                        </th>
                        <th scope="col" class="px-6 py-3">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="article : ${articles}">
                        <tr class="table-row">
                            <td scope="row" class="px-6 py-4 font-semibold" th:text="${article.title}">
                            </td>
                            <th:block th:each="authorArticle : ${article.authorArticles}">
                                <th:block th:each="authorRole : ${authorArticle.authorRoles}">
                                    <div th:if="${authorRole.authorType.id == 1}">
                                        <td class="px-6 py-4" th:text="${authorArticle.user.email}"></td>
                                    </div>
                                </th:block>
                            </th:block>
                            <th:block th:each="authorArticle : ${article.authorArticles}">
                                <th:block th:each="authorRole : ${authorArticle.authorRoles}">
                                    <div th:if="${authorRole.authorType.id == 2}">
                                        <td class="px-6 py-4" th:text="${authorArticle.user.email}"></td>
                                    </div>
                                </th:block>
                            </th:block>
                            <td class="px-6 py-4">
                                <div>
                                    <span class="badge-warning">Chưa phản hồi: <span th:text="${article.waitingResponseReviewer}"></span></span>
                                    <span class="badge-success">Đã đồng ý: <span th:text="${article.acceptedReviewer}"></span></span>
                                    <span th:if="${article.reviewedReviewer > 0}" class="badge-info">Đã phản biện: <span th:text="${article.reviewedReviewer}"></span></span>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <a th:href="@{/editor/review/{id}(id=${article.id}, back='in-review-articles')}" class="table-action" >Xem chi tiết</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>


    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var status = urlParams.get('status');
        var radioButtons = document.getElementsByName("status");

        if (status) {
            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].value === status) {
                    radioButtons[i].checked = true;
                    break;
                }
            }
        }

        function handleChange(src) {
            window.location.replace(`/admin/articles?status=${src.value}`);
        }

    </script>

</section>

</html>