<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div class="container">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/main-menu}" class="breadcrumb-item-link">
                        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        <span class="breadcrumb-item-text ml-0">Main menu</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/submission/processing}" class="breadcrumb-item-link">
                        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="breadcrumb-item-text">Bài báo chờ quyết định</span>
                    </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="breadcrumb-item-text current" th:text="${article.title}"></span>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="move-up-anim table-container my-6">
            <table class="table">
                <h3 class="table-header text-lg text-main font-semibold py-5 px-6">
                    Danh sách phản biện viên
                </h3>
                <thead class="table-header">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Mail reviewer
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Họ tên reviewer
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ngày mời
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="reviewArticle : ${reviewArticles}">
                        <tr class="table-row">
                            <td class="px-6 py-4 font-medium text-gray-900" th:text="${reviewArticle.id}">
                            </td>
                            <th scope="row" class="px-6 py-4 flex gap-3 items-center">
                                <span th:text="${reviewArticle.user.email}"></span>
                            </th>
                            <td class="px-6 py-4"
                                th:text="${reviewArticle.user.lastName} + ' ' + ${reviewArticle.user.firstName}"></td>
                            <td class="px-6 py-4" th:text="${reviewArticle.invitedAt}"></td>
                            <td class="px-6 py-4">
                                <div th:if="${reviewArticle.status eq 'PENDING'}">
                                    <span class="badge-danger">Chờ phản hồi</span>
                                </div>
                                <div th:if="${reviewArticle.status eq 'ACCEPTED'}">
                                    <span class="badge-warning">Đồng ý</span>
                                </div>
                                <div th:if="${reviewArticle.status eq 'REJECTED'}">
                                    <span class="badge-danger">Từ chối</span>
                                </div>
                                <div th:if="${reviewArticle.status eq 'REVIEWED'}">
                                    <span class="badge-success">Đã phản biện</span>
                                </div>
                            </td>
                            <td>
                                <div th:if="${reviewArticle.status eq 'REVIEWED'}">
                                    <a th:href="@{#}" class="table-action" >Xem kết quả phản biện</a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <a
            th:href="@{/editor/review-articles/invite/{id}(id=${articleId})}"
            class="move-up-anim rounded-md mt-2 bg-main px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main/25">
            Mời thêm phản biện viên</a>
        </div>

        <div class="my-3">
            <textarea class="input px-4 py-2 w-full mt-3 mb-0" id="commentArticle" maxlength="255" cols="60" rows="5"
                placeholder="Nhập nhận xét..."></textarea>
        </div>
    
        <div th:if="${article.reviewedReviewer > 0}" class="flex gap-x-3 justify-end mb-5">
            <button onclick="decideArticle('REJECT')"
                class="font-semibold flex gap-x-3 text-white items-center bg-gradient-to-r to-rose-500 from-red-400 transition-all duration-300 hover:from-rose-600 hover:to-pink-700 rounded-lg px-5 py-3 shadow-lg hover:shadow-sm">
                <span> Từ chối </span> <i
                    class="bi bi-x-circle-fill transition-all duration-300 text-white"></i></button>
            <button onclick="decideArticle('ACCEPT')" data-modal-target="modal" data-modal-toggle="modal"
                class="font-semibold flex gap-x-3 text-white items-center bg-gradient-to-r to-emerald-500 from-green-400 transition-all duration-300 hover:from-emerald-600 hover:to-teal-700 rounded-lg px-5 py-3 shadow-lg hover:shadow-sm"><span>
                    Đồng ý </span> <i
                    class="bi bi-check-circle-fill transition-all duration-300 text-white"></i></button>
        </div>

        <div class="bg-white rounded-lg p-6">
            <div class="font-semibold text-3xl">
                <span th:text="${article.title}"> </span>
            </div>

            <div class="my-3">
                <div class="text-gray-500" th:text="${article.abstracts}"></div>
            </div>

            <div class="my-3">
                <div class="flex gap-x-3 ml-0 mt-2" id="keywords-box">
                </div>
            </div>
            <div>
                <iframe th:src="${viewUrl}" style="width: 100%; height: 1000px; background-color: white;"></iframe>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const kwBox = document.querySelector("#keywords-box")

        function insertKeywordBox(elementHTML) {
            kwBox.insertAdjacentHTML('beforeend', elementHTML);
        }
        document.addEventListener('DOMContentLoaded', function () {
            const keywords = /*[[${ article.keywords }]]*/ "";
            if (keywords) {
                let kws = keywords.split(" ");
                kws.forEach(k => {
                    if (k.trim()) {
                        let newKwHTML = ` <div id="kw-${k}" class="kw-box ml-0" role="alert">
                            <div class="kw text-sm font-medium whitespace-nowrap">
                                ${k}
                            </div>
                          </div>`
                        insertKeywordBox(newKwHTML);
                    }

                });
            }
            document.querySelector("#viewDoc").style.width = (document.querySelector(".page").style.width) + "";

        });
        
        var commentArticle = document.getElementById('commentArticle');
        function decideArticle(status) {
            var requestBody = {
                note: commentArticle.value
            }
            fetch(`/api/articles/editor/decide/[[${article.id}]]?status=${status}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            }).then(res => {
                if (res.ok) {
                    window.location.href = "/editor/reviewed-articles"
                } else {
                    throw new Error(res.error)
                }
            }).catch(err => {
                alert(err);
                console.log(err);
            });
        }
    </script>
</section>

</html> -->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/article/layoutDetail}">

<section layout:fragment="breadcrumb">
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/main-menu}" class="breadcrumb-item-link">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    <span class="breadcrumb-item-text ml-0">Main menu</span>
                </a>
            </li>
            <li class="breadcrumb-item" th:if="${urlBack} != null">
                <a th:href="@{${urlBack}}" class="breadcrumb-item-link">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="breadcrumb-item-text" th:text="${backTitle}"></span>
                </a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="breadcrumb-item-text current" th:text="${article.title}"></span>
                </div>
            </li>
        </ol>
    </nav>
</section>

<th:block layout:fragment="buttons">
    <button data-modal-target="reviewer-modal" data-modal-toggle="reviewer-modal" class="btn-gradient-main w-fit">Xem
        phản biên viên</button>
    <button th:if="${isReviewed}" data-modal-target="decide-modal" data-modal-toggle="decide-modal"
        class="btn-gradient-main w-fit">Quyết
        định</button>
</th:block>




<section layout:fragment="modal">
    <div id="reviewer-modal" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-7xl max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="reviewer-modal">
                    <i class="bi bi-x-lg"></i>
                    <span class="sr-only">Close modal</span>
                </button>


                <div class="p-6">
                    <h3 class="text-2xl text-center text-main font-semibold mt-6">
                        Danh sách phản biện viên
                    </h3>
                    <p class="text-gray-500 text-center font-medium mt-5" th:if="${#lists.isEmpty(reviewArticles)}">Chưa
                        có phản biện viên nào được mời.</p>
                    <div th:unless="${#lists.isEmpty(reviewArticles)}" class="table-container my-4">
                        <table class="table">
                            <thead class="table-header">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        #
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Mail reviewer
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Họ tên reviewer
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Ngày mời
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Trạng thái
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="reviewArticle : ${reviewArticles}">
                                    <tr class="table-row">
                                        <td class="px-6 py-4 font-medium text-gray-900" th:text="${reviewArticle.id}">
                                        </td>
                                        <td scope="row" class="px-6 py-4 flex gap-3 items-center">
                                            <span th:text="${reviewArticle.user.email}"></span>
                                        </td>
                                        <td class="px-6 py-4"
                                            th:text="${reviewArticle.user.lastName} + ' ' + ${reviewArticle.user.firstName}">
                                        </td>
                                        <td class="px-6 py-4">
                                            <span th:data-tooltip-target="${'dateDetail-' + reviewArticle.id}"
                                                data-tooltip-placement="top" type="button"
                                                class="dateElement cursor-default" th:id="${reviewArticle.id}"
                                                th:text="${reviewArticle.invitedAt}"></span>

                                            <div th:id="${'dateDetail-' + reviewArticle.id}" role="tooltip"
                                                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                                                <span class="dateDetailElement" th:text="${reviewArticle.invitedAt}">
                                                </span>
                                                <div class="tooltip-arrow" data-popper-arrow></div>
                                            </div>
                                        </td>
                                        <td class="px-6 py-4">
                                            <div th:if="${reviewArticle.status eq 'PENDING'}">
                                                <span class="badge-warning">Chờ phản hồi</span>
                                            </div>
                                            <div th:if="${reviewArticle.status eq 'ACCEPTED'}">
                                                <span class="badge-success">Đồng ý <span class="dateElement"
                                                        th:text="${reviewArticle.updatedAt}"></span></span>
                                            </div>
                                            <div th:if="${reviewArticle.status eq 'REJECTED'}">
                                                <span class="badge-danger">Từ chối <span class="dateElement"
                                                        th:text="${reviewArticle.updatedAt}"></span></span>
                                            </div>
                                            <div
                                                th:if="${reviewArticle.status eq 'ACCEPT_PUBLISH'}">
                                                <span class="badge-success">Đã phản biện:
                                                    <span>
                                                        Đồng ý
                                                    </span>
                                                </span>
                                            </div>
                                            <div
                                                th:if="${reviewArticle.status eq 'REJECT_PUBLISH'}">
                                                <span class="badge-danger">Đã phản biện:
                                                    <span>
                                                        Từ chối
                                                    </span>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex gap-3"
                                                th:if="${reviewArticle.status eq 'ACCEPT_PUBLISH' || reviewArticle.status eq 'REJECT_PUBLISH'}">
                                                <button
                                                    th:attr="onclick=|downloadReviewFile('${reviewArticle.manuscript.article.id}', '${reviewArticle.manuscript.id}', '${reviewArticle.id}')|"
                                                    class="link text-sm font-medium"><span>
                                                        Tải file phản biện</span></button>
                                                <button th:onclick="|viewReviewFile('${reviewArticle.id}')|"
                                                    class="link text-sm font-medium"><span>
                                                        Preview</span></button>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>


                    </div>
                    <div class="flex justify-end my-3 gap-x-3">
                        <a type="button" th:href="@{/editor/review-articles/invite/{id}(id=${article.id})}"
                            class="btn-main w-fit">
                            Mời thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:if="${isReviewed}" id="decide-modal" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-7xl max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="decide-modal">
                    <i class="bi bi-x-lg"></i>
                    <span class="sr-only">Close modal</span>
                </button>


                <div class="p-12">
                    <h1 class="text-2xl font-semibold my-2">Gửi quyết định của biên tập viên</h1>
                    <p class="mb-5 text-gray-500">*Vui lòng gửi file quyết định và kèm nhận xét nếu có</p>
                    <form id="decide-form" enctype="multipart/form-data" method="post">
                        <label for="decide-files" class="btn-dark w-fit cursor-pointer">Gửi file quyết định<i
                                class="bi bi-file-earmark-arrow-up-fill text-lg"></i></label>
                        <input id="decide-files" class="sr-only" accept=".pdf,.docx,.tex" type="file" multiple name="decideFiles">
                        <div id="editor-file-display" class="hidden my-5">

                        </div>
                        <textarea class="input px-4 py-2 w-full mt-3 mb-0" name="note" maxlength="255" cols="60"
                            rows="5" placeholder="Nhập nhận xét..."></textarea>
                    </form>

                    <div class="flex justify-end my-3 gap-x-3">
                        <button onclick="decideArticle('REJECT')" id="rejectBtn" class="btn-gradient-danger w-fit">
                            <span> Từ chối bài viết </span> <i
                                class="bi bi-x-circle-fill transition-all duration-300 text-white"></i></button>
                        <button onclick="decideArticle('ACCEPT')" data-modal-target="modal" data-modal-toggle="modal"
                            class="btn-gradient-success w-fit"><span>
                                Đồng ý bài viết</span> <i
                                class="bi bi-check-circle-fill transition-all duration-300 text-white"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="extra-js">
    <script th:inline="javascript">
        const articleId = /*[[${article.id}]]*/ "";
    </script>
    <script src="/js/editor/decideArticle.js"></script>

</th:block>

</html>