<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <style>
        .autocomplete {
            position: relative;
            /* display: inline-block; */
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
</head>

<section class="mt-6 mb-3" layout:fragment="content">
    <div th:replace="~{fragments/stepper :: stepper (step=2)}"></div>
    <section name="main">
        <div class="fade-anim space-y-6 flex flex-col justify-center">
            <div class="bg-white shadow-lg rounded-lg px-10 py-6 xs:p-0 mx-auto w-full md:max-w-7xl border-b border-gray-900/10 mb-12 flex flex-col justify-between"
                style="min-height: 600px">
                <div>
                    <div class="flex justify-between pl-3">
                        <h2 class="col-span-1 text-lg font-semibold">Danh sách tác giả</h2>
                        <button type="button" data-modal-target="add-author-modal" data-modal-toggle="add-author-modal"
                            class="w-fit rounded-md bg-main px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main/25">Thêm
                            tác giả</button>
                    </div>
                    <div class="mt-3 authors">
                        <div>
                            <hr />

                        </div>
                        <hr id="last-hr" />
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="button" onclick="goBackStep()"
                        class="text-sm font-semibold leading-6 text-gray-900">Trở
                        về</button>
                    <button type="button" onclick="goNextStep()"
                        class="rounded-md bg-main px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main/25">Tiếp
                        tục</button>
                </div>
            </div>


    </section>
    <div id="add-author-modal" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-4xl max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                        Thêm tác giả
                    </h3>
                    <button type="button" id="btn-close-modal"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="add-author-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form name="newAuthor" class="p-6 space-y-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-3">
                        <div class="col-span-full">
                            <label for="new-author-email"
                                class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                            <div class="autocomplete">
                                <input id="new-author-email" type="email" name="email" title="Vui lòng nhập email"
                                    required
                                    class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/10 focus:outline-none rounded-md px-3 py-2 mt-1 w-full" />
                            </div>

                        </div>


                        <input id="new-id" type="hidden" name="new-id">
                        <div class="col-span-full">
                            <label id="notAvailable" class="text-yellow-400 text-sm font-medium"
                                style="display: none;">Email của tác giả này
                                chưa có trên hệ thống! Vui lòng điền đầy đủ thông tin bên dưới</label>
                        </div>
                        <div class="col-span-1">
                            <label for="new-last-name" class="block text-sm font-medium leading-6 text-gray-900">Họ và
                                tên đệm</label>
                            <input id="new-last-name" type="text" name="last-name" required
                                title="Vui lòng nhập họ và tên đệm"
                                class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/10 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                        </div>

                        <div class="col-span-1">
                            <label for="new-first-name"
                                class="block text-sm font-medium leading-6 text-gray-900">Tên</label>
                            <input id="new-first-name" type="text" name="first-name" required title="Vui lòng nhập tên"
                                class="border border-gray-300 focus:border-main/50 focus:ring-4 focus:ring-main/10 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                        </div>
                    </div>
                    <div
                        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button id="btn-add-author" type="button" onclick="addAuthor()"
                            class="text-white bg-main hover:bg-main/50 hover:text-gray-700 focus:ring-4 focus:outline-none focus:ring-main/25 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Thêm</button>
                        <button data-modal-hide="add-author-modal" type="button"
                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div>
        <hr/>
        <div class="p-3 author" data-user-id="${authorEl.user.id}">
            <h3 class="font-medium author-name">${authorEl.user.lastName + " " + authorEl.user.firstName}</h3>
            <p class="text-gray-500 author-email">${authorEl.user.email}</p>
            <div id="authorRolesContainer${authorEl.user.email}">
            </div>
        </div>
    </div> -->
    <script th:inline="javascript">
        let authorArticles = /*[[${ article.authorArticles }]]*/ "";
        const users = /*[[${ users }]]*/ "";
        //var isFirstAuthorChosen = true;

        var emails = [];
        users.forEach(user => {
            emails.push(user[1]);
        });
        var lastNames = [];
        users.forEach(user => {
            lastNames.push(user[2]);
        });
        var firstNames = [];
        users.forEach(user => {
            firstNames.push(user[3]);
        });
        var ids = [];
        users.forEach(user => {
            ids.push(user[0]);
        });

        // var emailArticles = [];
        // authorArticles.forEach(author => { 
        //     emailArticles.push(author.user.email);
        // })

        // console.log(emailArticles);
        // console.log(users);
        const lastHr = document.querySelector("#last-hr");
        const btnClose = document.querySelector("#btn-close-modal");
        const btnCloseEdit = document.querySelector("#btn-close-edit-modal");

        authorArticles.forEach(author => {
            addAuthorEl(author);
            addRole(author);
        });

        function isHasFirstAuthor () {
            const firstAuthor = authorArticles.filter(author => {
                let flag = false;
                author.authorRoles.forEach(role => {
                    if (role.authorType.id == 1)
                        flag = true;
                })
                return flag;
            })
            if (firstAuthor.length > 0)
                return true;
            return false;
        }

        function changeFristAuthorToAuthor(obj) {
            if (confirm("Bạn có chắc chắn muốn xóa vai trò tác giả này")) {
                const container = obj.parentNode.parentNode.parentNode.parentNode;

                const userEmail = container.querySelector(".author-email").innerText;
                userChange = authorArticles.filter(au => au.user.email == userEmail)[0];
                if (userChange.authorRoles.length > 1) {
                    const roleChange = authorArticles[authorArticles.indexOf(userChange)].authorRoles.filter(role => role.authorType.id == 1)[0];
                    authorArticles[authorArticles.indexOf(userChange)].authorRoles.splice(authorArticles[authorArticles.indexOf(userChange)].authorRoles.indexOf(roleChange), 1);
                } else {
                    authorArticles[authorArticles.indexOf(userChange)].authorRoles[0].authorType.id = 3;
                }
                document.getElementById(`authorRolesContainer${userChange.user.email}`).innerHTML = "";
                addRole(userChange);
            }
        }

        function addRole(authorEl) {
            var authorRoles = authorEl.authorRoles;
            authorRoles.forEach(function (role) {
                const roleContainer = document.getElementById(`authorRolesContainer${authorEl.user.email}`);
                const roleElement = document.createElement('span');
                roleElement.classList.add('badge');
                if (role.authorType.id === 1) {
                    roleElement.classList.add('badge-FIRST_AUTHOR', "h-fit", "flex", "gap-x-3", "items-center");
                    const textlRole = document.createElement('span');
                    textlRole.textContent = 'Tác giả chính';
                    //const btnDel = document.createElement('button');
                    //btnDel.classList.add('focus:ring-0', 'p-1', 'inline-flex', 'items-center', 'justify-center', 'h-3', 'w-3');
                    //const iconDel = document.createElement('span');
                    //iconDel.classList.add('material-symbols-rounded', 'text-sm');
                    //iconDel.textContent = 'close';
                    //btnDel.appendChild(iconDel);
                    //btnDel.setAttribute("onclick", "changeFristAuthorToAuthor(this)");
                    roleElement.appendChild(textlRole);
                    //roleElement.appendChild(btnDel);
                } else if (role.authorType.id === 2) {
                    roleElement.classList.add('badge-CORRESPONDING_AUTHOR', "h-fit");
                    roleElement.textContent = 'Tác giả liên hệ';
                } else if (role.authorType.id === 3) {
                    roleElement.classList.add('badge-AUTHOR', "h-fit");
                    roleElement.textContent = 'Tác giả';
                }
                roleContainer.appendChild(roleElement);
            });
        }

        function addAuthorEl(authorEl) {
            const html = `
                <div>
                    <hr/>

                    <div class="p-3 author flex justify-between items-center" data-user-id="${authorEl.user.id}">
                        <div class="flex grow gap-x-4">
                            <div>
                                <h3 class="font-medium author-name">${authorEl.user.lastName + " " + authorEl.user.firstName}</h3>
                                <p class="text-gray-500 author-email">${authorEl.user.email}</p>
                            </div>
                       
                            <div class="flex gap-x-2" id="authorRolesContainer${authorEl.user.email}">
                            </div>
                        </div>  
                        <div class="flex gap-x-3">
                            <a role="button" onclick="chooseFirstAuthor(this)" class="block underline-none text-main hover:underline">Chọn làm tác giả chính</a>
                            <a role="button" onclick="delAuthor(this)" class="block underline-none text-main hover:underline">Xóa</a>
                        </div>
                    </div>
                </div>
                    `

            lastHr.insertAdjacentHTML('beforebegin', html);
        }

        function delAuthor(obj) {
            if (confirm("Bạn có chắc chắn muốn xóa tác giả này")) {
                const container = obj.parentNode.parentNode;
                const userId = container.getAttribute("data-user-id");
                let delUser;
                if (userId) {
                    delUser = authorArticles.filter(au => au.user.id == userId)[0];
                }
                else {
                    const userEmail = container.querySelector(".author-email").innerText;
                    delUser = authorArticles.filter(au => au.user.email == userEmail)[0];
                }
                if (authorArticles.indexOf(delUser) == 0) {
                    alert("Không thể xóa tác giả liên hệ");
                    return;
                }

                const isFirstAuthor = delUser.authorRoles.map(authorRole => authorRole.authorType.id).indexOf(1);
                if (isFirstAuthor > -1) {
                    alert("Không thể xóa tác giả chính");
                    return;
                }
                authorArticles.splice(authorArticles.indexOf(delUser), 1);
                container.parentNode.remove();
            }
        }

        function chooseFirstAuthor(obj) {
            const container = obj.parentNode.parentNode;
            const userEmail = container.querySelector(".author-email").innerText;
            const oldFirstAuthor = authorArticles.filter(author => {
                let flag = false;
                author.authorRoles.forEach(role => {
                    if (role.authorType.id == 1)
                        flag = true;
                })
                return flag;
            })

            if (oldFirstAuthor.length > 0) {
                const oldEmail = oldFirstAuthor[0].user.email 
                if (userEmail == oldEmail) {
                    return;
                } else {
                    const firstTypeIndex = oldFirstAuthor[0].authorRoles.map(authorRole => authorRole.authorType.id).indexOf(1);
                    if (authorArticles.indexOf(oldFirstAuthor[0]) == 0) {
                        oldFirstAuthor[0].authorRoles.splice(firstTypeIndex, 1);
                    } else {
                        oldFirstAuthor[0].authorRoles[firstTypeIndex].authorType.id = 3;
                    }
                    document.getElementById(`authorRolesContainer${oldEmail}`).innerHTML = "";
                    addRole(oldFirstAuthor[0]);
                }
            }
            const newFirstAuthor = authorArticles.filter(author => author.user.email == userEmail);
            const normalTypeIndex =newFirstAuthor[0].authorRoles.map(authorRole => authorRole.authorType.id).indexOf(3);
            if (normalTypeIndex !== -1) {
                newFirstAuthor[0].authorRoles[normalTypeIndex].authorType.id = 1;
            } else {
                const newAuthorType = {
                    "authorType": {
                        "id": 1
                    }
                }
                newFirstAuthor[0].authorRoles.push(newAuthorType);
            }
            document.getElementById(`authorRolesContainer${userEmail}`).innerHTML = "";
            addRole(newFirstAuthor[0]);
        }

        function goNextStep() {
            if (!isHasFirstAuthor()) {
                alert("Chưa có tác giả chính!");
            } else {
                fetch("/submit/step2", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(authorArticles),
                    redirect: 'follow'
                }).then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                });
            }
        }

        function goBackStep() {
            if (!isHasFirstAuthor()) {
                alert("Chưa có tác giả chính!");
                return;
            }
            fetch("/submit/step2?back=1", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(authorArticles),
                redirect: 'follow'
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
        }




        function addAuthor() {
            const formNewAuthor = document.forms.newAuthor;

            var formData = new FormData(formNewAuthor);
            if (formNewAuthor.checkValidity()) {
                const firstnval = formData.get("first-name")
                const lastnval = formData.get("last-name")
                const emailval = formData.get("email")
                const idval = formData.get("new-id");
                const authorEl = {
                    "user": {
                        "id": parseInt(idval),
                        "firstName": firstnval,
                        "lastName": lastnval,
                        "email": emailval
                    },
                    "authorRoles": [
                        {
                            "authorType": {
                                "id": 3
                            }
                        }
                    ]
                }


                let isUserExists = authorArticles.map(authorArticle => authorArticle.user.email).indexOf(emailval);
                if (isUserExists === -1) {
                    authorArticles.push(authorEl);
                    btnClose.click();
                    formNewAuthor.reset();
                    addAuthorEl(authorEl);
                    addRole(authorEl);
                } else {
                    alert("Thông tin người dùng đã được thêm!")
                    //let isRoleExists = authorArticles[isUserExists].authorRoles
                    //    .map(authorRole => authorRole.authorType.id).indexOf(parseInt(typeval));
                    //if (isRoleExists === -1) {
                    //    
                    //        if (changeRoleIndex === -1) {
                    //            const newAuthorType = {
                    //                "authorType": {
                    //                    "id": parseInt(typeval)
                    //                }
                    //            }
                    //            authorArticles[isUserExists].authorRoles.push(newAuthorType)
                    //            btnClose.click();
                    //            addRole(authorEl);
                    //        } else {
                    //            authorArticles[isUserExists].authorRoles[changeRoleIndex].authorType.id = parseInt(typeval);
                    //            if (changeRole == 1) isFirstAuthorChosen = false;
                    //            btnClose.click();
                    //            document.getElementById(`authorRolesContainer${authorArticles[isUserExists].user.email}`).innerHTML = "";
                    //            addRole(authorArticles[isUserExists]);
//
                    //        }
                    //    
//
                    //}


                }

                // authorArticles.push(authorEl)
                // btnClose.click();
                // addAuthorEl(authorEl);
                // btnClose.click();
            } else {
                const inputs = formNewAuthor.querySelectorAll("input");
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].reportValidity();
                }
            }

        }

        // auto complete
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            checkAvailabe();
                            closeAllLists();
                        });
                        if (a.childElementCount <= 5) {
                            a.appendChild(b);
                        }
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        autocomplete(document.getElementById("new-author-email"), emails);

        var input = document.getElementById("new-author-email");
        input.addEventListener("input", function () {
            checkAvailabe()
        });

        function checkAvailabe() {
            if (input.value.length !== 0) {
                var isAvailableUser = emails.includes(input.value);
                document.getElementById("new-first-name").readOnly = false;
                document.getElementById("new-last-name").readOnly = false;
                if (isAvailableUser) {
                    document.getElementById("notAvailable").style.display = "none";
                    document.getElementById("new-last-name").value = lastNames[emails.indexOf(input.value)];
                    document.getElementById("new-first-name").value = firstNames[emails.indexOf(input.value)];
                    document.getElementById("new-id").value = ids[emails.indexOf(input.value)];
                    document.getElementById("new-last-name").readOnly = true;
                    document.getElementById("new-first-name").readOnly = true;
                } else {
                    document.getElementById("notAvailable").style.display = "block";
                    document.getElementById("new-last-name").readOnly = false;
                    document.getElementById("new-first-name").readOnly = false;
                    document.getElementById("new-last-name").value = "";
                    document.getElementById("new-first-name").value = "";
                    document.getElementById("new-id").value = null;
                }
            } else {
                document.getElementById("new-first-name").readOnly = true;
                document.getElementById("new-last-name").readOnly = true;
                document.getElementById("notAvailable").style.display = "none";
            }
        }
    </script>
</section>

</html>