<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">


<section class="mt-6 mb-3" layout:fragment="content">
    <div class="min-h-[800px]">
        <div th:replace="~{fragments/stepper :: stepper (step=4)}"></div>
        <form th:object="${article}" th:action="@{'/submit/step4'}" method="post">
            <div class="fade-anim space-y-6 flex flex-col justify-center">
                <div
                    class="bg-white shadow-lg rounded-lg px-10 py-6 xs:p-0 mx-auto w-full md:max-w-7xl border-b border-gray-900/10 mb-12 flex flex-col justify-between">
                    <div>
                        <div class="grid grid-cols-1 gap-x-6 gap-y-3">
                            <div class="col-span-full">
                                <label for="reference" class="block text-sm font-medium leading-6 text-gray-900">Trích dẫn <span class="text-main">*</span></label>
                                <textarea required id="reference" type="text" th:field="*{currentManuscript.reference}" rows=20
                                    class="textarea-scale input px-3 py-2 mt-1 mb-5 w-full resize-none"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="button" class="text-sm font-semibold leading-6 text-gray-900" onclick="goBackStep()">Trở về</button>
                        <button type="button" id="btnSubmit" onclick="submitForm()"
                            class="rounded-md bg-main px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main/25">Tiếp
                            tục</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script>
        const form = document.querySelector("form");
        function goBackStep() {
            form.action = '/submit/step4?back=3'
            form.submit();
        }

        function submitForm() {
            form.submit();
        }
    </script>
    <script defer th:src="@{/js/textareaScale.js}"></script>

</section>

</html>