<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">


<section class="mt-6 mb-3" layout:fragment="content">
    <div class="min-h-[800px]">
        <div th:replace="~{fragments/stepper :: stepper (step=1)}"></div>
        <form th:action="@{'/submit/step1'}" name="ruleForm" method="post">
            <div class="fade-anim space-y-6 flex flex-col justify-center">
                <div
                    class="bg-white shadow-lg rounded-lg px-10 py-6 xs:p-0 mx-auto w-full md:max-w-7xl border-b border-gray-900/10 mb-12 flex flex-col justify-between">
                    <div>
                        <h1 class="py-2 text-3xl font-semibold">Điều kiện gửi bài viết</h1>
                        <p class="mb-2 text-lg">Bài báo phải thỏa mãn tất cả các điều kiện dưới đây:</p>
                        <div class="text-gray-800">
                            <div class="py-2 flex items-start">
                                <input th:checked="${termsAccepted == true}" required class="checkbox-input mt-0.5" id="rule1" type="checkbox" name="rule" />
                                <label class="ml-3 grow" for="rule1">
                                    Về sự phù hợp với <a href="#" class="link">mục đích - phạm vi</a> của Tạp chí đã được công bố;
                                </label>
                            </div>
                            <div class="py-2 flex items-start">
                                <input th:checked="${termsAccepted == true}" required class="checkbox-input mt-0.5" id="rule2" type="checkbox" name="rule" />
                                <label class="ml-3 grow" for="rule2">
                                    Về sự tuân thủ các <a class="link">chính sách gửi bài, phản biện, biên tập</a> mà Tạp chí đã được công bố;
                                </label>
                            </div>
                            <div class="py-2 flex items-start">
                                <input th:checked="${termsAccepted} == true" required class="checkbox-input mt-0.5" id="rule3" type="checkbox" name="rule" />
                                <label class="ml-3 grow" for="rule3">
                                    Về sự phù hợp với <a class="link">thể lệ của bài viết</a> đã được công bố;
                                    <ul class="list-dot">
                                        <li>File bản thảo (độ dài, font chữ);</li>
                                        <li>Tiêu đề, tóm tắt, từ khóa tiếng Anh và tiếng Việt;</li>
                                        <li>Bảng hình, số liệu;</li>
                                        <li>Trích dẫn;</li>
                                        <li>Hình thức và các lỗi chính tả.</li>
                                    </ul>
                                </label>
                            </div>
                            <div class="py-2 flex items-start">
                                <input th:checked="${termsAccepted == true}" required class="checkbox-input mt-0.5" id="rule4" type="checkbox" name="rule" />
                                <label class="ml-3 grow" for="rule4">
                                   Về các thông tin cần cung cấp của <strong class="font-semibold">Tác giả</strong> (họ tên, học hàm-học vị, nơi công tác, chức vụ, email và số điện thoại), và <strong class="font-semibold">các cam kết khác mà Tạp chí yêu cầu.</strong>
                                </label>
                            </div>
                        </div>
                        

                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="button" id="btnSubmit" onClick="submitForm()"
                            class="rounded-md bg-main px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main/25">Tiếp
                            tục</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var elements = document.querySelectorAll("input[type='checkbox']");
            for (var i = 0; i < elements.length; i++) {
                elements[i].oninvalid = function(e) {
                    e.target.setCustomValidity("");
                    if (!e.target.validity.valid) {
                        e.target.setCustomValidity("Vui lòng đồng ý với điều khoản nay để tiếp tục");
                    }
                };
                elements[i].oninput = function(e) {
                    e.target.setCustomValidity("");
                };
            }
        })


        function submitForm() {
            const form = document.forms.ruleForm;
            if (!form.checkValidity()) {
                form.reportValidity()
                return;
            }
            form.submit();
        }


    </script>
</section>

</html>