@keyframes move-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes move-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Áp dụng animation cho phần tử cần hiển thị */
.move-up-anim {
    animation-name: move-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.move-left-anim {
    animation-name: move-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.move-right-anim {
    animation-name: move-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.fade-anim {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}