<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<th:block layout:fragment="extra-js">
    <script defer th:src="@{/js/cate.js}"></script>
</th:block>
<section layout:fragment="content">
    <div class="w-full grid grid-cols-12 px-5 md:px-10 mb-12 gap-5 md:gap-10 mt-5 md:mt-10">
        <div class="move-right-anim w-full col-span-full bg-gradient-main2 shadow-lg rounded-lg overflow-hidden">
            <div class="grid grid-col-1 gap-5 md:gap-10 md:grid-cols-5 mx-5 md:mx-10 lg:mx-24 py-3">
                <div class="z-20 col-span-full py-6 flex flex-col justify-center md:col-span-3 text-gray-800">
                    <div class="h-fit flex flex-col gap-5">
                        <h1 class="text-center md:text-start text-4xl 2xl:text-5xl text-white">TẠP CHÍ KHOA HỌC</h1>
                        <h1 class="text-center md:text-start font-semibold text-white text-xl lg:text-2xl 2xl:text-3xl">
                            Đại học Mở
                            Thành phố Hồ Chí Minh</h1>
                        <div>
                            <form>
                                <div class="flex mt-5">
                                    <div class="relative w-full md:me-5">
                                        <input type="search" id="search-dropdown"
                                            class="block p-4 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border border-white focus:border focus:border-white shadow-lg focus:ring focus:ring-white/5"
                                            placeholder="Nhập từ khóa tìm kiếm..." required>
                                        <button type="submit"
                                            class="transition-all cursor-pointer absolute top-0 end-0 p-4 text-sm font-medium h-full text-white bg-main/75 rounded-e-lg border border-white hover:bg-main focus:ring-4 focus:outline-none focus:ring focus:ring-white/5">
                                            <i class="bi bi-search"></i>
                                            <span class="sr-only">Search</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-span-full md:col-span-2">
                    <div class="w-full h-full relative book-container">
                        <div class="opacity-0 w-[45%]">
                            <img th:src="@{/images/book1.png}" />
                        </div>
                        <svg class="absolute top-full md:top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 scale-[150%]"
                            width="100%" height="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" class="fill-white" />
                        </svg>
                        <div class="book-first">
                            <img th:src="@{/images/book1.png}" />
                        </div>
                        <div class="book-secondary">
                            <img th:src="@{/images/book3.png}" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- <img class="w-full" th:src="@{/images/cover.png}"/> -->
        </div>
        <div class="col-span-full bg-white rounded-lg p-10 shadow-lg">
            <div class="flex gap-10">
                <a onmouseenter="handleCategoryHover(this)" onmouseleave="handleCategoryOutHover(this)"
                    th:each="cate : ${cates}" th:id="'cate-' + ${cate.id}"
                    class="transition-all category block w-1/6 items-stretch hover:scale-105">
                    <img class="h-full" th:src="${cate.coverImage}" th:alt="${cate.categoryName}" />
                </a>
            </div>
            <div class="flex gap-10 pt-3 font-semibold">
                <a onmouseenter="handleCategoryNameHover(this)" onmouseleave="handleCategoryNameOutHover(this)"
                    th:each="cate : ${cates}" th:data-category="'cate-' + ${cate.id}"
                    class="transition-all category-name block text-sm text-center w-1/6 items-start p-1 hover:font-bold hover:text-main-action">
                    <h2 class="h-full" th:text="${cate.categoryName}"></h2>
                </a>
            </div>
        </div>

        <div class="col-span-10 bg-white rounded-lg shadow-lg py-5 px-5 md:px-10">
            <h3 class="text-xl text-gray-800 font-semibold">
                Tin thức - Thông báo
            </h3>
            <div class="p-5">

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MINH TIẾP TỤC ĐƯỢC CHẤP THUẬN TRONG DANH MỤC HỆ THỐNG TRÍCH DẪN ASEAN (ACI)</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">ĐIỂM CÔNG TRÌNH KHOA HỌC HỘI ĐỒNG GIÁO SƯ NHÀ
                        NƯỚC NĂM 2023 CỦA CÁC TẠP CHÍ CHUYÊN NGÀNH</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MINH THÔNG BÁO VỀ VIỆC CUNG CẤP BỘ DỮ LIỆU NGHIÊN CỨU CỦA BÀI BÁO</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;"></div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MINH - KINH TẾ VÀ QUẢN TRỊ KINH DOANH THÔNG BÁO VỀ VIỆC ÁP DỤNG MÃ PHÂN LOẠI TẠP CHÍ KINH TẾ
                        (CODE JEL)</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MÌNH NẰM TRONG DANH MỤC CÁC TẠP CHÍ KHOA HỌC ĐƯỢC PHÊ DUYỆT TĂNG ĐIỂM CÔNG TRÌNH NĂM 2021 VÀ
                        2022</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;"></div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">THÔNG BÁO NGƯNG TẶNG TẠP CHÍ ĐẾN TÁC GIẢ</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MINH ĐƯỢC CHẤP NHẬN THAM GIA HỆ THỐNG TRÍCH DẪN ACI</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="https://journalofscience.ou.edu.vn/index.php/econ-vi/announcement/view/98">TẠP CHÍ KHOA HỌC
                        ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH ĐƯỢC CHẤP NHẬN THAM GIA HỆ THỐNG THƯ MỤC TẠP CHÍ TRUY CẬP MỞ
                        QUỐC TẾ DOAJ</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin: 15px 0;"></div>


                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">CÁC TẠP CHÍ KHOA HỌC CHUYÊN NGÀNH CỦA TRƯỜNG ĐẠI
                        HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH ĐƯỢC XẾP HẠNG TRONG CÔNG BỐ XẾP HẠNG CHỈ SỐ ẢNH HƯỞNG (IMPACT
                        FACTOR) CỦA CÁC TẠP CHÍ KHOA HỌC VIỆT NAM NĂM 2020</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin: 15px 0;"></div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">QUYẾT ĐỊNH SỐ 559/GP-BTTTT: BỘ THÔNG TIN VÀ
                        TRUYỀN THÔNG CẤP GIẤY PHÉP HOẠT ĐỘNG TẠP CHÍ IN VÀ TẠP CHÍ ĐIỆN TỬ MỚI CHO TẠP CHÍ KHOA HỌC ĐẠI
                        HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin: 15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">GIẤY PHÉP SỐ 03/GP-TTĐT: CHO PHÉP TẠP CHÍ KHOA
                        HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH THIẾT LẬP TRANG THÔNG TIN ĐIỆN TỬ TỔNG HỢP</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="https://journalofscience.ou.edu.vn/index.php/econ-vi/announcement/view/52">CÔNG VĂN SỐ
                        01/TTHKCN-ISSN: CẤP CHO TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH MÃ SỐ CHUẨN QUỐC TẾ
                        e-ISSN CHO 6 XUẤT BẢN PHẨM ĐIỆN TỬ</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin: 15px 0;"></div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="https://journalofscience.ou.edu.vn/index.php/econ-vi/announcement/view/47">CÔNG VĂN SỐ
                        34/TTKHCN-ISSN: CẤP CHO TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH MÃ SỐ CHUẨN QUỐC TẾ
                        ISSN CHO 6 XUẤT BẢN PHẨM</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin: 15px 0;"></div>

                <div class="text-base font-medium text-main hover:underline">
                    <a href="/index.php/index/about/announcements_home">TẠP CHÍ KHOA HỌC ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ
                        MINH NẰM TRONG DANH MỤC CÁC TẠP CHÍ KHOA HỌC ĐƯỢC PHÊ DUYỆT TĂNG ĐIỂM CÔNG TRÌNH NĂM 2020</a>
                </div>
                <div class="mDatePosted" style=" border-bottom: dotted 1px;margin:15px 0;">
                </div>
            </div>
        </div>

        <div class="col-span-2 bg-white rounded-lg shadow-lg p-5">
            <h3 class="bg-main rounded p-2 text-center font-semibold text-sm text-white">CHỈ MỤC</h3>
            <br><a
                href="https://asean-cites.org/announcement.html?announcement=30&name=%20The%20accepted%20journals%20for%20indexing%20in%20the%20ACI%20database%20in%20October%202021%20(October%2031st,%202021)">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://i.imgur.com/qQQLrqK.png" alt="asean-cites" width="65%" />
            </a>
            <br><a
                href="https://doaj.org/search/journals?ref=homepage-box&source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22Ho%20Chi%20Minh%20City%20Open%20University%22%2C%22default_operator%22%3A%22AND%22%7D%7D%7D">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://i.imgur.com/iWq5fmz.png" alt="doaj.jpg" width="67%" />
            </a>
            <br><a
                href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=site%3Ahttp%3A%2F%2Fjournalofscience.ou.edu.vn&btnG=">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://journalofscience.ou.edu.vn/plugins/themes/ou/assets/img/home/google.png"
                    alt="google.png" width="65%" />
            </a>
            <br><a
                href="https://vcgate.vnu.edu.vn/search/article?text=%C4%90H+M%E1%BB%9F+HCM&field=journal&page_size=10&sort_by=cites_count&sort_dir=desc&page=1">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://journalofscience.ou.edu.vn/plugins/themes/ou/assets/img/home/vcgate.png"
                    alt="vcgate.png" width="65%" />
            </a>
            <br><a href="https://www.vjol.info.vn/">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://journalofscience.ou.edu.vn/plugins/themes/ou/assets/img/home/vjol.png" alt="vjol.png"
                    width="65%" /><br>
            </a>
            <h3 class="bg-main rounded p-2 text-center font-semibold text-sm text-white">THÀNH VIÊN</h3>
            <br><a href="https://www.crossref.org/">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://journalofscience.ou.edu.vn/plugins/themes/ou/assets/img/home/crossref.png"
                    alt="crossref.png" width="65%" /><br>
            </a>
            <h3 class="bg-main rounded p-2 text-center font-semibold text-sm text-white">CÔNG CỤ</h3>
            <br><a href="https://www.doi.org/">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://www.doi.org/images/logos/header_logo_cropped.svg" alt="DOI.jpg" width="65%" />
            </a>
            <a href="https://www.turnitin.com/">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                    src="https://journalofscience.ou.edu.vn/plugins/themes/ou/assets/img/home/turnitin.png"
                    alt="turnitin.png" width="65%" />
            </a>
        </div>
    </div>
</section>

</html>