<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="" layout:fragment="content">
    <div th:if="${#authorization.expression('hasRole(''ROLE_AUTHOR'')')}" class="flex flex-col md:flex-row h-full">
        <div class="p-10 shadow-lg min-h-[800px] bg-white pr-12">
            <h2 class="text-lg font-semibold mb-2">Bảng điều kiển của tác giả</h2>
            <ul>
                <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                    <a th:href="@{/main-menu}" class="link">Quản lý manuscript</a>
                </li>
                <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                    <a class="link">Chỉnh sửa thông tin liên lạc</a>
                </li>
                <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                    <a class="link">Thiết lập ngày bận</a>
                </li>
            </ul>
        </div>
        <div class="grow px-12 py-12">
            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Bài gửi mới</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/submit}" class="link">Gửi manuscript mới</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/submission/processing}">Bài viết đang được xử lý <span
                                th:text="'(' + ${processingArticleCount} +')'" class="noti">(0)</span></a>
                    </li>
                </ul>
            </div>

            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Bản sửa đổi</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a>Bài gửi cần sửa đổi <span class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a>Bản sửa đổi đang được xử lý <span class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a>Bản sửa đổi đã bị từ chối <span class="noti">(0)</a>
                    </li>
                </ul>
            </div>

            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Đã hoàn thành</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a>Bài gửi đã được đồng ý <span class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a>Bản gửi đã xuất bản <span class="noti">(0)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_EDITOR'')')}" class="flex flex-col md:flex-row h-full">
        <div class="p-5 shadow-lg min-h-[800px] bg-white/50 pr-12">
            <h2 class="text-lg font-semibold mb-2">Bảng điều kiển của biên tập viên</h2>
        </div>
        <div class="grow px-12 py-12">
            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Tra cứu</h1>
                <ul class="mt-3 flex gap-4 justify-center items-center">
                    <li class="py-1 mb-1 cursor-pointer w-fit font-medium">
                        <a class="link">Tra cứu các bài gửi</a>
                    </li>
                    <li class="w-fit">
                        <div class="w-[1px] h-[30px] bg-gray-800"></div>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-fit font-medium">
                        <a class="link">Tra cứu người dùng</a>
                    </li>
                </ul>
            </div>

            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Sơ duyệt bài đăng</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/articles}">Danh sách bài báo chờ duyệt <span th:text="'(' + ${pendingArticleCount} + ')'" class="noti">(0)</a>
                    </li>
                </ul>
            </div>

            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Gán biên tập viên</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/assign-list}">Bài gửi cần gán biên tập viên <span th:text="'(' + ${articleWaitingAssignEditor} + ')'" class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/assigned-list}">Bản gửi đang làm biên tập viên <span th:text="'(' + ${assignedArticleCount} + ')'" class="noti">(0)</a>
                    </li>
                </ul>
            </div>

            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Quản lý phản biện bài gửi</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/invite-reviewer-articles}">Bài gửi chưa mời phản biện viên <span th:text="'(' + ${articleWaitingForInviteReviewCount} + ')'" class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/waiting-accept-reviewer-articles}">Bài báo đã mời nhưng chưa có phản biện viên <span th:text="'(' + ${articleWaitingForAcceptFromReviewerCount} + ')'" class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/in-review-articles}">Bài báo đang được phản biện <span th:text="'(' + ${articleInReviewingCount} + ')'" class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/editor/reviewed-articles}">Bài báo đã ghi nhận phản biện <span th:text="'(' + ${articleReviewedCount} + ')'" class="noti">(0)</a>
                    </li>
                </ul>
            </div>

            
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}" class="flex flex-col md:flex-row h-full">
        <div class="p-5 shadow-lg min-h-[800px] bg-white/50 pr-12">
            <h2 class="text-lg font-semibold mb-2">Bảng điều kiển của phản biện viên</h2>
        </div>
        <div class="grow px-12 py-12">
            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Bài phản biện</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/reviewer/invitation-list}">Danh sách lời mời bản phản biện <span th:text="'(' + ${invitationCount} + ')'" class="noti">(0)</a>
                    </li>
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/reviewer/review-list}">Danh sách bài báo đang phản biện <span th:text="'(' + ${reviewCount} + ')'" class="noti">(0)</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_SECRETARY'')')}" class="flex flex-col md:flex-row h-full">
        <div class="p-5 shadow-lg min-h-[800px] bg-white/50 pr-12">
            <h2 class="text-lg font-semibold mb-2">Bảng điều kiển của thư ký</h2>
        </div>
        <div class="grow px-12 py-12">
            <div class="relative py-5 mb-12 bg-white shadow border w-1/2 rounded">
                <h1
                    class="absolute rounded ml-5 shadow bg-gradient-main top-0 -translate-y-1/2 text-white font-semibold leading-none p-2.5">
                    Sơ duyệt bài đăng</h1>
                <ul class="ml-10 mt-3">
                    <li class="py-1 mb-1 cursor-pointer w-full font-medium">
                        <a th:href="@{/secretary/articles}">Danh sách bài báo chờ duyệt <span th:text="'(' + ${pendingArticleCount} + ')'" class="noti">(0)</a>
                    </li>
                </ul>
            </div>

            
        </div>
    </div>
    <!-- <div class="my-6 mx-6 md:mx-12 flex justify-center min-h-[800px]">
        <div class="container">
            <div th:if="${#authorization.expression('hasRole(''ROLE_AUTHOR'')')}">
                <div class="flex gap-x-3 items-center">
                    <div class="w-1 h-[30px] bg-main"></div>
                    <div class="text-gray-700 uppercase text-lg font-semibold">Bảng điều khiển của tác giả</div>

                </div>
                <div class="move-left-anim grid grid-cols-1 lg:grid-cols-4 lg:gap-x-12">
                    <div class="action-item">
                        <a class="group" th:href="@{/submit}">
                            <i class="bi bi-journal-arrow-up text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Gửi manuscript mới</p>
                        </a>

                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/submission/processing}">
                            <i class="bi bi-hourglass text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Bài đăng đang được xử lý</p>
                            <span class="noti-badge" th:if="${processingArticleCount != 0}" 
                                th:text="${processingArticleCount}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_EDITOR'')')}">
                <div class="flex gap-x-3 gap-y-5 items-center">
                    <div class="w-1 h-[30px] bg-main"></div>
                    <div class="text-gray-700 uppercase text-lg font-semibold">Bảng điều khiển của biên tập viên</div>
                </div>
                <div class="move-left-anim grid grid-cols-1 lg:grid-cols-4 lg:gap-x-12">
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/articles}">
                            <i class="bi bi-journal-check text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Danh sách bài báo chờ duyệt</p>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/assign-list}">
                            <i class="bi bi-person-gear text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Gán biên tập viên</p>
                            <span class="noti-badge" th:if="${articleWaitingAssignEditor != 0}" 
                                th:text="${articleWaitingAssignEditor}"></span>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/assigned-list}">
                            <i class="bi bi-journals text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Bài báo được gán làm biên tập</p>
                            <span class="noti-badge" th:if="${assignedArticleCount != 0}" 
                                th:text="${assignedArticleCount}"></span>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/invite-reviewer-articles}">
                            <i class="bi bi-envelope-plus text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Bài báo chưa mời phản biện viên</p>
                            <span class="noti-badge" th:if="${articleWaitingForInviteReviewCount != 0}"
                                th:text="${articleWaitingForInviteReviewCount}"></span>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/waiting-accept-reviewer-articles}">
                            <i class="bi bi-journal-album text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Bài báo chưa có phản biện viên</p>
                            <span class="noti-badge" th:if="${articleWaitingForAcceptFromReviewerCount != 0}"
                                th:text="${articleWaitingForAcceptFromReviewerCount}"></span>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/in-review-articles}">
                            <i class="bi bi-pencil-square text-7xl text-gradient-main group-hover:text-white"></i>

                            <p class="w-full">Bài báo đang được phản biện</p>
                            <span class="noti-badge" th:if="${articleInReviewingCount != 0}"
                                th:text="${articleInReviewingCount}"></span>
                        </a>
                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/editor/reviewed-articles}">
                            <i class="bi bi-check2-circle text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Bài báo đã ghi nhận phản biện</p>
                            <span class="noti-badge" th:if="${articleReviewedCount != 0}"
                                th:text="${articleReviewedCount}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}">
                <div class="flex gap-x-3 items-center">
                    <div class="w-1 h-[30px] bg-main"></div>
                    <div class="text-gray-700 uppercase text-lg font-semibold">Bảng điều khiển của phản biện viên</div>
                </div>
                <div class="move-left-anim grid grid-cols-1 lg:grid-cols-4 lg:gap-x-12">
                    <div class="action-item">
                        <a class="group" th:href="@{/reviewer/invitation-list}">
                            <i class="bi bi-envelope text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Danh sách lời mời bản phiện</p>
                            <span class="noti-badge" th:if="${invitationCount != 0}" 
                                th:text="${invitationCount}"></span>
                        </a>

                    </div>
                    <div class="action-item">
                        <a class="group" th:href="@{/reviewer/review-list}">
                            <i class="bi bi-hourglass text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Danh sách bài báo chờ phản biện</p>
                            <span class="noti-badge" th:if="${reviewCount != 0}" 
                                th:text="${reviewCount}"></span>
                        </a>
                    </div>

                </div>
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_SECRETARY'')')}">
                <div class="flex gap-x-3 items-center">
                    <div class="w-1 h-[30px] bg-main"></div>
                    <div class="text-gray-700 uppercase text-lg font-semibold">Bảng điều khiển của thư ký</div>
                </div>
                <div class="move-left-anim grid grid-cols-1 lg:grid-cols-4 lg:gap-x-12">
                    <div class="action-item">
                        <a class="group" th:href="@{/secretary/articles}">
                            <i class="bi bi-journal-check text-7xl text-gradient-main group-hover:text-white"></i>
                            <p class="w-full">Danh sách bài đăng chờ duyết</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>

</html>