<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div style="margin-left: 80px">
        <div style="font-weight: bold;">Các bài đăng (Phân quyền author)</div>
        <div style="margin-left: 50px">
            <ul>
                <li><a th:href="@{/submit}">Đăng Manuscript mới</a></li>
                <li><a th:href="@{/submission/processing}">Bài đăng đang được xử lý</a></li>
            </ul>
        </div>
        <div style="font-weight: bold;">Các bài đăng (Phân quyền reviewer)</div>
        <div style="margin-left: 50px">
            <ul>
                <li><a th:href="@{/reviewer/invitation-list}">Danh sách lời mời review</a></li>
                <li><a th:href="@{/reviewer/review-list}">Danh sách bài đăng chờ review</a></li>
            </ul>
        </div>
    </div>
</section>

</html>