<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

    <section layout:fragment="content">
        <div><button type="button" id="mainMenuBtn">Về menu</button></div>
        <!-- FILTER -->
        <form class="relative left-0 my-6 flex flex-col-reverse md:flex-row gap-2">
            <!-- EXTRA FILTER -->
            <div class="w-fit">
                <button id="dropdownBgHoverButton" data-dropdown-toggle="dropdownBgHover" class="btn-main" type="button">
                    Bộ lọc
                    <i class="bi bi-sliders2 text-lg"></i>
                </button>
    
                <div id="dropdownBgHover" class="dropdown">
                    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownBgHoverButton">
                        <li>
                            <h3>Tình trạng</h3>
                            <div class="filter-container">
                                <input id="pending-status" name="status" type="radio" class="filter-input" value="PENDING" onchange="handleChange(this);" checked>
                                <label class="filter-label" for="pending-status">Chưa duyệt</label>
                            </div>
                            <div class="filter-container">
                                <input id="inreview-status" name="status" type="radio" class="filter-input" value="IN_REVIEW"  onchange="handleChange(this);">
                                <label class="filter-label" for="inreview-status">Đang mời review</label>
                            </div>
                        </li>
                        <!-- <li class="flex justify-end gap-2 pt-3">
                            <button type="button" class="btn-secondary-small">Làm
                                mới</button>
                            <button type="submit" class="btn-main-small">Áp
                                dụng</button>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- INPUT FILTER -->
            <div class="grow relative flex items-center md:mt-0">
                <span class="absolute pl-3 py-2">
                    <i class="bi bi-search text-gray-400"></i>
                </span>
                <input name="kw" th:value="${param.kw}" type="text" placeholder="Tìm kiếm" class="input-icon-left">
            </div>
        </form>
    
    
        <div class="table-container">
            <table class="table">
                <h3 class="table-header text-lg text-main font-semibold py-5 px-6">
                    Danh sách bài đăng
                </h3>
                <thead class="table-header">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tiêu đề
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Mối quan hệ với bài viết
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ngày tạo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tình trạng
                        </th>
                        <th scope="col" class="px-6 py-3">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="article : ${articles}">
                        <tr class="table-row">
                            <td class="px-6 py-4 font-medium text-gray-900" th:text="${article.id}">
                            </td>
                            <th scope="row" class="px-6 py-4 flex gap-3 items-center">
                                <span th:text="${article.title}"></span>
                            </th>
                            <td class="px-6 py-4">
                                <th:block th:each="authorArticle : ${article.authorArticles}">
                                    <th:block th:if="${authorArticle.user.id == currentAccount.id}">
                                        <th:block th:each="authorRole : ${authorArticle.authorRoles}">
                                            <div th:text="${authorRole.authorType.type}"></div>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </td>
                            <th:block th:each="articleDate : ${article.articleDates}">
                                <th:block th:if="${articleDate.dateType.typeName.equals('SUBMITTED_DATE')}">
                                    <td class="px-6 py-4">
                                        <span id="articleDate" th:text="${articleDate.date}"></span>
                                    </td>
                                </th:block>
                            </th:block>
                            <td class="px-6 py-4">
                                <!-- <div th:if="${article.status eq 'PENDING'}">
                                    <span class="badge-warning">Chờ duyệt</span>
                                </div>
                                <div th:if="${article.status eq 'IN_REVIEW'}">
                                    <span class="badge-success">Chờ review</span>
                                </div> -->
                                <div>
                                    <span th:text="${article.status}"></span>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div>
                                    <a th:href="@{/submission/processing/{articleId}(articleId=${article.id})}">Xem chi tiết</a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    
        <script>
            // var currentSide = document.getElementById("articles");
            // currentSide.classList.add("active");
    
            // var urlParams = new URLSearchParams(window.location.search);
            // var status = urlParams.get('status');
            // var radioButtons = document.getElementsByName("status");
    
            // if (status) {
            //     for (let i = 0; i < radioButtons.length; i++) {
            //         if (radioButtons[i].value === status) {
            //             radioButtons[i].checked = true;
            //             break;
            //         }
            //     }
            // }
    
            // function handleChange(src) {
            //     window.location.replace(`/admin/articles?status=${src.value}`);
            // }

            var articleDate = document.getElementById("articleDate");
            if(articleDate != null){
                articleDate.innerText = articleDate.innerText.split(' ')[0]
            }
    
        </script>
    
    </section>

</html>