<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">


<section layout:fragment="content">
    <div class="my-5 flex justify-center">
        <form th:action="@{/register/account(token=${token})}" th:object="${account}" method="post">
            <div class="container bg-white shadow-lg drop-shadow-2xl rounded-lg px-6 py-8 flex flex-col gap-y-6 max-w-xl">
                <div>
                    <h1 class="text-2xl font-semibold text-center">Thông tin tài khoản</h1>
                    <p class="text-center text-main font-medium">Vui lòng nhập thông tin tài khoản của bạn!</p>
                </div>
    
                <hr>
    
                <div th:if="${#fields.hasAnyErrors()}" class="mb-3 pt-5 text-red-500">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                </div>
                <div>
                    <label class="font-semibold" for="email">Email</label>
                    <input class="input mt-2 w-full" type="text" th:field="*{email}" name="email" id="email" readonly
                        th:value="${account.email}">
                </div>
    
                <div>
                    <label class="font-semibold" for="userName">Username</label>
                    <input class="input mt-2 w-full" type="text" placeholder="Nhập username" th:field="*{userName}" name="userName"
                        id="userName" required>
                </div>
    
    
                <div>
                    <label class="font-semibold" for="psw">Mật khẩu</label>
                    <input class="input mt-2 w-full" type="password" placeholder="Nhập mật khẩu" th:field="*{password}" name="password"
                        id="psw" required>
                </div>
    
                <div>
                    <label class="font-semibold" for="psw-repeat">Nhập lại mật khẩu</label>
                    <input class="input mt-2 w-full" type="password" placeholder="Nhập lại mật khẩu" th:field="*{confirmPassword}"
                        name="confirmPassword" id="psw-repeat" required>
                </div>
    
                <button type="submit" class="registerbtn btn-main">Xác nhận</button>
            </div>
        </form>
    </div>
</section>

</html>