<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="flex justify-center items-center min-h-[800px] mb-16" layout:fragment="content">
    <div class="container text-center">
        <div class="flex justify-center">
            <div class="w-full max-w-[700px]">
                <svg th:replace="~{fragments/errors/403 :: svg}"></svg>

            </div>
        </div>
        <p class="text-gray-700">Truy cập này không còn hợp lệ, vui lòng trở lại trang chính!<br />
            Chúng tôi xin lỗi vì sự bất tiện này :((((<br><br>
        <div class="flex justify-center">
            <a class="btn-main w-fit"
                th:href="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_SECRETARY'')') ? '/admin/dashboard' : '/'}">
                Nhấn vào đây để về trang chủ</a>
        </div>
    </div>
</section>

</html>