<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="mb-12" layout:fragment="content">
    <div class="container mx-auto min-h-[800px]">
        <!-- BREADCRUMB -->
        <section class="mt-2 mb-6" layout:fragment="breadcrumb">

        </section>

        <!-- /BREADCRUMB -->
        <div th:replace="~{fragments/statusStage :: statusStage (status=${article.status})}"></div>

        <div class="mt-2 move-up-anim bg-white rounded-lg p-8 text-gray-800 shadow-lg">
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <div class="col-span-full md:col-span-1">
                    <div class="w-full">
                        <img class="w-full" th:src="${article.articleCategory.coverImage}" />
                    </div>
                </div>
                <div class="col-span-full md:col-span-2 lg:col-span-3">
                    <div class="font-semibold text-3xl">
                        <span>Tiêu đề:</span>
                        <span th:text="${article.title}"> </span>
                    </div>
                    <div layout:fragment="authorName" class="font-medium mt-2 flex flex-wrap gap-1">
                        <span>Tác giả:</span>
                        <th:block th:each="authorArticle : ${article.authorArticles}">
                            <span class="author"
                                th:text="${authorArticle.user.lastName} + ' ' + ${authorArticle.user.firstName}"></span>
                        </th:block>
                    </div>

                    <hr class="my-5" />
                    <div class="my-3">
                        <span class="font-medium">Danh mục:</span>
                        <div class="mt-1 px-2" th:text="${article.articleCategory.categoryName}"></div>
                    </div>

                    <div class="my-3">
                        <span class="font-medium">Tóm tắt:</span>
                        <div class="mt-1 px-2" th:text="${article.abstracts}"></div>
                    </div>

                    <div class="my-3">
                        <span class="font-medium">Từ khóa:</span>
                        <!-- <div class="flex flex-wrap gap-3 ml-0 mt-2 px-2" id="keywords-box">
                        </div> -->
                        <div class="mt-1 px-2" th:text="${article.keywords}"></div>
                    </div>


                    <div class="flex gap-x-3 flex-wrap">
                        <th:block
                            th:if="${article.articleNote != null && article.articleNote.note != null and article.articleNote.note != ''}">
                            <div id="note" class="note note-hidden mt-4 mb-3">
                                <div class="p-3 flex justify-between items-center">
                                    <p class="text-main font-bold pr-2">Nhận xét</p>
                                    <button id="btn-collapse-note"
                                        class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                        <div
                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">

                                        </div>
                                        <div id="icon-collapse-note"
                                            class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">

                                        </div>
                                    </button>
                                </div>
                                <div id="note-content" class="px-3 pb-3 text-main hidden"
                                    th:text="${article.articleNote.note}">
                                </div>
                            </div>
                        </th:block>

                        <th:block
                            th:if="${article.authorNote != null && article.authorNote.note != null and article.authorNote.note != ''}">
                            <div id="author-note" class="note note-hidden mt-4 mb-3">
                                <div class="p-3 flex justify-between items-center">
                                    <p class="text-main font-bold pr-2">Ghi chú</p>
                                    <button id="btn-collapse-author-note"
                                        class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                        <div
                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">
                                        </div>
                                        <div id="icon-collapse-author-note"
                                            class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">
                                        </div>
                                    </button>
                                </div>
                                <div id="author-note-content" class="px-3 pb-3 text-main hidden"
                                    th:text="${article.authorNote.note}">
                                </div>
                            </div>
                        </th:block>
                    </div>



                </div>
            </div>
            <!-- ACTION -->
            <section layout:fragment="action">

                <div layout:fragment="extra-action">

                </div>

                <div class="flex justify-end my-3 gap-x-3">

                    <th:block layout:fragment="buttons">

                    </th:block>
                </div>


            </section>
            <!-- /ACTION -->

            <hr class="my-5" />
            <div th:if="${manuscripts}" class="flex justify-between items-center">
                <button id="btn-version" data-dropdown-toggle="dropdown-versions" data-dropdown-trigger="click"
                    class="btn-secondary w-fit my-3 shadow-md" type="button">
                    <span th:text="'Phiên bản: ' + ${renderManuscript.version}"></span>
                    <svg class="w-2.5 h-2.5 ml-2.5" fill="none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <form id="dropdown-versions"
                    class="z-50 hidden bg-white border-b border-gray-200 divide-y divide-gray-100 rounded-lg shadow w-44">
                    <input th:if="${param.back}" name="back" th:value="${param.back}" type="hidden" />
                    <ul class="py-2 text-sm shadow-lg text-gray-700" aria-labelledby="btn-version">
                        <th:block th:each="manuscript : ${manuscripts}">
                            <li>
                                <button type="submit" name="version" th:value="${manuscript.version}"
                                    class="block px-4 py-2 hover:bg-gray-100 w-full text-start"
                                    th:text="${manuscript.version}"></button>
                            </li>
                        </th:block>
                    </ul>
                </form>
            </div>

            <!-- ORTHER INFO -->
            <div id="accordion-article" data-accordion="open"
                data-active-classes="bg-white pb-0 text-gray-800 border-b-0">
                <th:block th:if="${renderManuscript}">
                    <h2 th:unless="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}"
                        id="accordion-article-heading-1">
                        <button type="button"
                            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                            data-accordion-target="#accordion-article-body-1" aria-controls="accordion-article-body-1">
                            <span class="flex items-center">Tệp gốc của bài viết</span>
                            <i data-accordion-icon class="bi bi-chevron-up" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div id="accordion-article-body-1" class="hidden" aria-labelledby="accordion-article-heading-1">
                        <div th:unless="${#authorization.expression('hasRole(''ROLE_REVIEWER'')')}" id="file-display"
                            class="p-5 border-b border-gray-200">
                            <th:block th:replace="~{fragments/files/originFile :: originFile}"></th:block>
                        </div>
                    </div>
                    <h2 id="accordion-article-heading-2">
                        <button type="button"
                            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                            data-accordion-target="#accordion-article-body-2" aria-expanded="false"
                            aria-controls="accordion-article-body-2">
                            <span class="flex items-center">Tệp ẩn danh của bài viết</span>
                            <i data-accordion-icon class="bi bi-chevron-up" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div id="accordion-article-body-2" class="hidden" aria-labelledby="accordion-article-heading-2">
                        <div th:if="${renderManuscript}" class="p-5 border-b border-gray-200">

                            <!-- File gốc -->
                            <th:block th:replace="~{fragments/files/anonymousFile :: anonymousFile}"></th:block>

                        </div>
                    </div>
                    <th:block th:if="${renderManuscript.appendix}">
                        <h2 id="accordion-article-heading-3">
                            <button type="button"
                                class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                                data-accordion-target="#accordion-article-body-3" aria-expanded="false"
                                aria-controls="accordion-article-body-3">
                                <span class="flex items-center">Tệp phụ lục</span>
                                <i data-accordion-icon class="bi bi-chevron-up" aria-hidden="true"></i>

                            </button>
                        </h2>
                        <div id="accordion-article-body-3" class="hidden" aria-labelledby="accordion-article-heading-3">
                            <div class="p-5 border-b border-gray-200">
                                <th:block th:replace="~{fragments/files/appendixFile :: appendixFile}"></th:block>
                            </div>
                        </div>
                    </th:block>

                    <h2 id="accordion-article-heading-4">
                        <button type="button"
                            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 gap-3"
                            data-accordion-target="#accordion-article-body-4" aria-expanded="false"
                            aria-controls="accordion-article-body-4">
                            <span class="flex items-center">Trích dẫn</span>
                            <i data-accordion-icon class="bi bi-chevron-up" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div id="accordion-article-body-4" class="hidden" aria-labelledby="accordion-article-heading-4">
                        <div class="p-5">
                            <p class="" th:text="${renderManuscript.reference}"></p>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>

        <!-- MODAL -->
        <section layout:fragment="modal">

        </section>
        <!-- /MODAL -->

        <div th:if="${successMsg}" id="toast-success" class="toast-success-br" role="alert">
            <div class="icon-container">
                <i class="bi bi-check-circle-fill"></i>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-normal" th:text="${successMsg}"></div>
            <button type="button" class="close-container" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

    </div>

    <script src="/js/utils.js"></script>
    <!-- <script th:inline="javascript">
        const keywords = /*[[${#strings.replace(#strings.trim(article.keywords), ' ', ', ') }]]*/ "";
    </script>
    <script th:src="@{/js/article/keyword.js}"></script> -->
    <script th:src="@{/js/article/note.js}"></script>
    <th:block layout:fragment="extra-js">

    </th:block>

</section>

</html>