<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="mb-12" layout:fragment="content">
    <div class="container mx-auto min-h-[800px]">
        <!-- BREADCUM -->
        <section class="mt-2 mb-6" layout:fragment="breadcum">

        </section>

        <!-- /BREADCUM -->
        <div th:replace="~{fragments/statusStage :: statusStage (status=${article.status})}"></div>

        <div class="mt-2 move-up-anim bg-white rounded-lg p-6 text-gray-800">
            <div class="font-semibold text-3xl">
                <span>Tiêu đề:</span>
                <span th:text="${article.title}"> </span>
            </div>
            <div class="font-medium mt-2 flex flex-wrap gap-1">
                <span>Tác giả:</span>
                <th:block th:each="authorArticle : ${article.authorArticles}">
                    <span class="author"
                        th:text="${authorArticle.user.lastName} + ' ' + ${authorArticle.user.firstName}"></span>
                </th:block>
            </div>

            <hr class="my-5" />

            <div class="my-3">
                <span class="font-medium">Tóm tắt:</span>
                <div class="mt-1 px-2" th:text="${article.abstracts}"></div>
            </div>

            <div class="my-3">
                <span class="font-medium">Từ khóa:</span>
                <div class="flex flex-wrap gap-3 ml-0 mt-2 px-2" id="keywords-box">
                </div>
            </div>


            <div class="flex gap-x-3 flex-wrap">
                <th:block
                    th:if="${article.articleNote != null && article.articleNote.note != null and article.articleNote.note != ''}">
                    <div id="note" class="note note-hidden mt-4 mb-3">
                        <div class="p-3 flex justify-between items-center">
                            <p class="text-main font-bold pr-2">Nhận xét</p>
                            <button id="btn-collapse-note"
                                class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                <div
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">

                                </div>
                                <div id="icon-collapse-note"
                                    class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">

                                </div>
                            </button>
                        </div>
                        <div id="note-content" class="px-3 pb-3 text-main hidden" th:text="${article.articleNote.note}">
                        </div>
                    </div>
                </th:block>

                <th:block
                    th:if="${article.authorNote != null && article.authorNote.note != null and article.authorNote.note != ''}">
                    <div id="author-note" class="note note-hidden mt-4 mb-3">
                        <div class="p-3 flex justify-between items-center">
                            <p class="text-main font-bold pr-2">Ghi chú</p>
                            <button id="btn-collapse-author-note"
                                class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                <div
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">
                                </div>
                                <div id="icon-collapse-author-note"
                                    class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">
                                </div>
                            </button>
                        </div>
                        <div id="author-note-content" class="px-3 pb-3 text-main hidden"
                            th:text="${article.authorNote.note}">
                        </div>
                    </div>
                </th:block>
            </div>


            <!-- ACTION -->
            <section layout:fragment="action">

                <div layout:fragment="extra-action">

                </div>

                <div class="flex justify-end my-3 gap-x-3">
                    <button data-modal-target="preview-modal" data-modal-toggle="preview-modal"
                        class="btn-gradient-main w-fit">Xem preview</button>
                    <button class="btn-gradient-main w-fit">Tải file</button>
                    <th:block layout:fragment="buttons">

                    </th:block>
                </div>


            </section>
            <!-- /ACTION -->
        </div>

        <div id="preview-modal" tabindex="-1"
            class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-lg">
            <div class="relative w-full max-h-full m-6 lg:m-12">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="preview-modal">
                        <i class="bi bi-x-lg"></i>
                        <span class="sr-only">Close modal</span>
                    </button>


                    <div class="p-12">
                        <div>
                            <iframe th:src="${viewUrl}"
                                style="width: 100%; height: 1000px; background-color: white;"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- MODAL -->
        <section layout:fragment="modal">

        </section>
        <!-- /MODAL -->

    </div>

    <script th:inline="javascript">
        const kwBox = document.querySelector("#keywords-box")
        const note = document.querySelector("#note");
        const authorNote = document.querySelector("#author-note");

        const btnNote = document.querySelector("#btn-collapse-note");
        const btnNoteIcon = document.querySelector("#icon-collapse-note");
        const noteContent = document.querySelector("#note-content");

        const btnAuthorNote = document.querySelector("#btn-collapse-author-note");
        const btnAuthorNoteIcon = document.querySelector("#icon-collapse-author-note");
        const authorNoteContent = document.querySelector("#author-note-content");

        function insertKeywordBox(elementHTML) {
            kwBox.insertAdjacentHTML('beforeend', elementHTML);
        }
        try {
            btnNote.addEventListener('click', function () {
                note.classList.toggle('note-hidden');
                btnNoteIcon.classList.toggle('rotate-90');
                noteContent.classList.toggle('hidden');
            });
        } catch (e) {

        }

        try {
            btnAuthorNote.addEventListener('click', function () {
                authorNote.classList.toggle('note-hidden');
                btnAuthorNoteIcon.classList.toggle('rotate-90');
                authorNoteContent.classList.toggle('hidden');
            });
        } catch (e) {

        }

        document.addEventListener('DOMContentLoaded', function () {
            const keywords = /*[[${#strings.replace(#strings.trim(article.keywords), ' ', ', ') }]]*/ "";
            kwBox.innerText = keywords;
            //if (keywords) {
            //    let kws = keywords.split(" ");
            //    kws.forEach(k => {
            //        if (k.trim()) {
            //            let newKwHTML = ` <div id="kw-${k}" class="kw-box ml-0" role="alert">
            //                <div class="kw text-sm font-medium whitespace-nowrap">
            //                    ${k}
            //                </div>
            //              </div>`
            //            insertKeywordBox(newKwHTML);
            //        }
            //
            //    });
            //}
        });

        


    </script>
    <th:block layout:fragment="extra-js">

    </th:block>

</section>

</html>