<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<section class="mb-12" layout:fragment="content">
    <div class="container mx-auto min-h-[800px]">
        <!-- BREADCUM -->
        <section class="mt-2 mb-6" layout:fragment="breadcum">

        </section>

        <!-- /BREADCUM -->
        <div th:replace="~{fragments/statusStage :: statusStage (status=${article.status})}"></div>

        <div class="mt-2 move-up-anim bg-white rounded-lg p-6 text-gray-800">
            <div class="font-semibold text-3xl">
                <span>Tiêu đề:</span>
                <span th:text="${article.title}"> </span>
            </div>
            <div layout:fragment="authorName" class="font-medium mt-2 flex flex-wrap gap-1">
                <span>Tác giả:</span>
                <th:block th:each="authorArticle : ${article.authorArticles}">
                    <span class="author"
                        th:text="${authorArticle.user.lastName} + ' ' + ${authorArticle.user.firstName}"></span>
                </th:block>
            </div>

            <hr class="my-5" />

            <div class="my-3">
                <span class="font-medium">Tóm tắt:</span>
                <div class="mt-1 px-2" th:text="${article.abstracts}"></div>
            </div>

            <div class="my-3">
                <span class="font-medium">Từ khóa:</span>
                <div class="flex flex-wrap gap-3 ml-0 mt-2 px-2" id="keywords-box">
                </div>
            </div>


            <div class="flex gap-x-3 flex-wrap">
                <th:block
                    th:if="${article.articleNote != null && article.articleNote.note != null and article.articleNote.note != ''}">
                    <div id="note" class="note note-hidden mt-4 mb-3">
                        <div class="p-3 flex justify-between items-center">
                            <p class="text-main font-bold pr-2">Nhận xét</p>
                            <button id="btn-collapse-note"
                                class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                <div
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">

                                </div>
                                <div id="icon-collapse-note"
                                    class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">

                                </div>
                            </button>
                        </div>
                        <div id="note-content" class="px-3 pb-3 text-main hidden" th:text="${article.articleNote.note}">
                        </div>
                    </div>
                </th:block>

                <th:block
                    th:if="${article.authorNote != null && article.authorNote.note != null and article.authorNote.note != ''}">
                    <div id="author-note" class="note note-hidden mt-4 mb-3">
                        <div class="p-3 flex justify-between items-center">
                            <p class="text-main font-bold pr-2">Ghi chú</p>
                            <button id="btn-collapse-author-note"
                                class="relative w-6 h-6 p-1 flex items-center rounded hover:bg-white/20">
                                <div
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4">
                                </div>
                                <div id="icon-collapse-author-note"
                                    class="transition-all duration-300 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-0.5 rounded bg-main w-4 rotate-90">
                                </div>
                            </button>
                        </div>
                        <div id="author-note-content" class="px-3 pb-3 text-main hidden"
                            th:text="${article.authorNote.note}">
                        </div>
                    </div>
                </th:block>
            </div>


            <!-- ACTION -->
            <section layout:fragment="action">

                <div layout:fragment="extra-action">

                </div>

                <div class="flex justify-end my-3 gap-x-3">
                    <!-- <button id="btn-download-file"
                        class="btn-gradient-main w-fit">Tải file gốc</button> -->
                    <th:block layout:fragment="buttons">

                    </th:block>
                </div>


            </section>
            <!-- /ACTION -->




            <div th:if="${renderManuscript}">
                <hr class="my-5" />
                <div class="flex justify-between items-center">
                    <h2 class="font-semibold text-2xl">File bài viết</h2>
                    <button id="btn-version" data-dropdown-toggle="dropdown-versions" data-dropdown-trigger="click"
                        class="btn-secondary w-fit my-3 shadow-md" type="button">
                        <span th:text="'Phiên bản: ' + ${renderManuscript.version}"></span>
                        <svg class="w-2.5 h-2.5 ml-2.5" fill="none" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <form id="dropdown-versions"
                        class="z-50 hidden bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow w-44">
                        <input th:if="${param.back}" name="back" th:value="${param.back}" type="hidden" />
                        <ul class="py-2 text-sm shadow-lg text-gray-700" aria-labelledby="btn-version">
                            <th:block th:each="manuscript : ${manuscripts}">
                                <li>
                                    <button type="submit" name="version" th:value="${manuscript.version}"
                                        class="block px-4 py-2 hover:bg-gray-100 w-full text-start"
                                        th:text="${manuscript.version}"></button>
                                </li>
                            </th:block>
                        </ul>
                    </form>
                </div>

                <!-- File gốc -->
                <div id="file-display" class="mt-5">
                    <div class="w-full flex gap-x-3 p-3 shadow flex items-center rounded-lg bg-main/10">
                        <th:block th:switch="${renderManuscript.type}">
                            <th:block th:case="'application/pdf'">
                                <div id="file-display-extension" th:text="'pdf'"
                                    class="uppercase bg-white relative text-xs font-semibold w-14 h-14 rounded shadow flex justify-center items-center overflow-hidden after:content-[''] after:w-full after:h-1 after:absolute after:bottom-0 after:left-0 after:bg-main">

                                </div>
                                <p id="file-display-name" class="lowercase"
                                    th:text="${#strings.replace(article.title, ' ', '_')} + '.pdf'">
                                </p>
                            </th:block>
                            <th:block
                                th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                <div id="file-display-extension" th:text="'docx'"
                                    class="uppercase bg-white relative text-xs font-semibold w-14 h-14 rounded shadow flex justify-center items-center overflow-hidden after:content-[''] after:w-full after:h-1 after:absolute after:bottom-0 after:left-0 after:bg-main">

                                </div>
                                <p id="file-display-name" class="lowercase"
                                    th:text="${#strings.replace(article.title, ' ', '_')} + '.docx'">
                                </p>
                            </th:block>

                        </th:block>


                        <div class="grow flex justify-end items-center gap-4">
                            <button data-modal-target="preview-modal" data-modal-toggle="preview-modal"
                                class="w-fit text-main text-2xl">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="w-fit text-main text-2xl" id="btn-download-file">
                                <i class="bi bi-download"></i>
                            </button>
                        </div>

                    </div>
                </div>

                <!-- File ẩn danh -->
                <div class="mt-5 w-full flex gap-x-3 p-3 shadow flex items-center rounded-lg bg-main/10">
                    <div th:text="PDF"
                        class="uppercase bg-white relative text-xs font-semibold w-14 h-14 rounded shadow flex justify-center items-center overflow-hidden after:content-[''] after:w-full after:h-1 after:absolute after:bottom-0 after:left-0 after:bg-main">
                    </div>
                    <p class="lowercase" th:text="abc">
                    </p>
                    <div class="grow flex justify-end items-center gap-4">
                        <button data-modal-target="edit-anonymous-modal" data-modal-toggle="edit-anonymous-modal"
                            class="w-fit text-main text-2xl">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <button class="w-fit text-main text-2xl">
                            <i class="bi bi-eye"></i>
                        </button>

                        <button class="w-fit text-main text-2xl">
                            <i class="bi bi-download"></i>
                        </button>
                    </div>

                </div>


            </div>
        </div>

        <div id="preview-modal" tabindex="-1"
            class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-lg">
            <div class="relative w-full max-h-full m-6 lg:m-12">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="preview-modal">
                        <i class="bi bi-x-lg"></i>
                        <span class="sr-only">Close modal</span>
                    </button>


                    <div class="p-12">
                        <div>
                            <iframe id="article-iframe"
                                style="width: 100%; height: 1000px; background-color: white;"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="edit-anonymous-modal" tabindex="-1"
            class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-lg">
            <div class="relative w-full max-w-5xl max-h-full m-6 lg:m-12">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="edit-anonymous-modal">
                        <i class="bi bi-x-lg"></i>
                        <span class="sr-only">Close modal</span>
                    </button>


                    <div class="p-12">
                        <h2 class="font-semibold text-2xl my-2">Chỉnh sửa file ẩn danh cho bài viết</h2>
                        <p class="text-gray-500 mb-5">* Vui lòng gửi file ẩn danh đã chỉnh sửa</p>
                        <form id="decide-form" enctype="multipart/form-data" method="post">
                            <label for="editorAnonymousFile" class="btn-dark w-fit cursor-pointer">Đăng file ẩn danh mới<i
                                    class="bi bi-file-earmark-arrow-up-fill text-lg"></i></label>
                            <input required id="editorAnonymousFile" data-file-display="edit-anonymous-file-display" class="sr-only"
                                type="file" name="editorAnonymousFile">
                            <div class="mt-5">
                                <div id="edit-anonymous-file-display"
                                    class="hidden w-full flex gap-x-3 p-3 shadow flex items-center rounded-lg bg-main/10">
                                    <div data-file-display-extension
                                        class="uppercase bg-white relative text-xs font-semibold w-14 h-14 rounded shadow flex justify-center items-center overflow-hidden after:content-[''] after:w-full after:h-1 after:absolute after:bottom-0 after:left-0 after:bg-main">
                                    </div>
                                    <p data-file-display-name class="lowercase">
                                    </p>
                                </div>
                            </div>
                            <div class="mt-5 flex justify-end gap-3">
                                <button type="submit" class="btn-gradient-main w-fit">Xác nhận</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <!-- MODAL -->
        <section layout:fragment="modal">

        </section>
        <!-- /MODAL -->

        <div th:if="${successMsg}" id="toast-success" class="toast-success-br" role="alert">
            <div class="icon-container">
                <i class="bi bi-check-circle-fill"></i>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-normal" th:text="${successMsg}"></div>
            <button type="button" class="close-container" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

    </div>

    <script src="/js/utils.js"></script>
    <script th:inline="javascript">
        const keywords = /*[[${#strings.replace(#strings.trim(article.keywords), ' ', ', ') }]]*/ "";
        async function loadView() {
            document.querySelector('#article-iframe').src = /*[[${viewUrl}]]*/ "";
        }
        window.addEventListener('DOMContentLoaded', (event) => {
            loadView();
        });

    </script>

    <script th:if="${renderManuscript}" th:inline="javascript">
        const btnDownloadFile = document.querySelector("#btn-download-file");
        try {
            btnDownloadFile.addEventListener('click', function () {
                const type = /*[[${ renderManuscript.type }]]*/ "";
                const name = /*[[${ renderManuscript.article.title }]]*/ "";
                const byteContent = /*[[${ renderManuscript.content }]]*/ "";

                downloadFile(type, name, byteContent)
            });
        } catch (e) {

        }

    </script>
    <script th:src="@{/js/article/keyword.js}"></script>
    <script th:src="@{/js/article/note.js}"></script>
    <th:block layout:fragment="extra-js">

    </th:block>

</section>

</html>